@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-color: #252525;
  font-family: "Montserrat";
  font-size: 14px;
  color: white;
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
}

section {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

@media (max-width: 575px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }

  h6 {
    font-size: 10px;
  }
}
.go-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: white;
  font-size: 40px;
  transition: 500ms;
  z-index: 1000;
  cursor: pointer;
  transform: rotate(-90deg);
}
.go-top i {
  transition: 0.5s;
}
.go-top i:hover {
  color: #F8B500;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../img/loader.gif) center no-repeat white;
  animation-name: animateLoader;
  animation-duration: 2s;
  opacity: 0;
}

@keyframes animateLoader {
  0% {
    height: 100%;
    z-index: 10000000;
    opacity: 1;
  }
  80% {
    height: 100%;
    z-index: 10000000;
    opacity: 1;
  }
  100% {
    height: 0;
  }
}
button:focus {
  outline: none;
}

input:focus, select:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 181, 0, 0.5) !important;
}

.header-top {
  border-bottom: 1px solid #383838;
}
.header-top h5 {
  padding: 15px 0;
}
.header-top-social {
  margin-top: 10px;
}
.header-top-social i {
  padding: 5px 8px;
  border-radius: 50%;
  background: #383838;
  margin: 0 3px;
  color: #8F8F8F;
  font-size: 20px;
  transition: 0.5s;
  border: 1px solid #383838;
}
.header-top-social i:hover {
  color: #F8B500;
  background: none;
  border-color: #F8B500;
}

.header-bottom {
  padding: 50px 0;
  position: relative;
  height: 140px;
}
.header-bottom .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  z-index: 1;
}
.header-bottom .logo img {
  transition: 0.5s;
}
.header-bottom .logo img:hover {
  filter: brightness(60%);
}
.header-bottom .hotline-top {
  color: #F8B500;
}
.header-bottom .hotline-top a {
  transition: 0.5s;
}
.header-bottom .hotline-top a:hover {
  color: white;
}
.header-bottom .hotline-top i {
  font-size: 40px;
  float: left;
  margin-right: 10px;
  margin-top: -10px;
}
.header-bottom .hotline-top p {
  margin-bottom: 0px;
}
.header-bottom .custom-header {
  color: white;
}
.header-bottom .custom-header a {
  color: #707070;
  margin-left: 10px;
  border-radius: 3px;
  transition: 500ms;
  display: inline-block;
  cursor: pointer;
  padding: 2px 8px;
  border: 1px solid #707070;
}
.header-bottom .custom-header a i {
  font-size: 25px;
}
.header-bottom .custom-header a:hover {
  color: black;
  background: #F8B500;
}
.header-bottom .custom-header a:hover .price-cart {
  color: black;
}
.header-bottom .custom-header a:hover .badge-light {
  background: black;
}
.header-bottom .custom-header .cart-open-btn {
  margin-left: 25px;
  position: relative;
}
.header-bottom .custom-header .cart-open-btn i {
  margin-left: 10px;
}
.header-bottom .custom-header .cart-open-btn .price-cart {
  font-size: 14px;
  padding-left: 5px;
  margin-left: 5px;
  border-left: 1px solid #383838;
  color: white;
}
.header-bottom .custom-header .cart-open-btn .badge-light {
  position: absolute;
  margin-left: -15px;
  border-radius: 50%;
  left: 0;
  background: #F8B500;
  color: white;
  font-size: 14px;
  width: 30px;
  height: 30px;
  line-height: 23px;
  font-weight: 400;
  top: 5px;
  transition: 0.5s;
}
.header-bottom .custom-header .card-body {
  position: absolute;
  margin-top: 20px;
  right: 0;
  z-index: 1000;
}
.header-bottom .custom-header .cart-form {
  background: #111111;
  border: 1px solid black;
  position: absolute;
  width: 320px;
  right: 15px;
  margin-top: 46px;
}
.header-bottom .custom-header .cart-form a {
  border: 0;
  padding: 0;
  margin-left: 0;
  color: white;
}
.header-bottom .custom-header .cart-form a:hover {
  background: none;
  color: #F8B500;
}
.header-bottom .custom-header .cart-form a:hover i {
  color: #F8B500;
}
.header-bottom .custom-header .cart-form i {
  color: white;
  font-size: 14px;
}
.header-bottom .custom-header .cart-form-top p span {
  float: right;
  color: #F8B500;
  font-weight: 400;
}
.header-bottom .custom-header .cart-form-box-product {
  border-bottom: 1px solid #383838;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: black;
}
.header-bottom .custom-header .cart-form-box-product-img {
  height: 100px;
  float: left;
  margin-right: 10px;
}
.header-bottom .custom-header .cart-form-box-product-detail {
  text-align: left;
}
.header-bottom .custom-header .cart-form-box-product-detail h5 {
  transition: 0.5s;
  margin-bottom: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.header-bottom .custom-header .cart-form-box-product-detail h5:hover {
  color: #F8B500;
}
.header-bottom .custom-header .cart-form-box-product-detail h6 {
  margin-bottom: 10px;
  color: white;
  font-weight: 400;
}
.header-bottom .custom-header .cart-form h4 {
  text-align: left;
  margin-top: 10px;
  color: black;
}
.header-bottom .custom-header .cart-form h4 span {
  float: right;
}
.header-bottom .custom-header .cart-form-btn {
  margin-bottom: 10px;
}
.header-bottom .custom-header .cart-form-btn a {
  background: #555555;
  color: #e1e1e1;
  padding: 10px 15px;
  text-transform: uppercase;
  margin: 3px;
  transition: 0.5s;
  width: 100%;
  font-weight: 600;
}
.header-bottom .custom-header .cart-form-btn a:hover {
  background: #F8B500;
  color: black;
}

.search-form {
  width: 400px;
  border: 0;
  position: fixed;
  z-index: 1000000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  background: #252525;
  padding: 30px 30px;
}
.search-form input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  background: #f4f4f4;
  color: black;
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  outline: none;
  margin-bottom: 15px;
}
.search-form select {
  height: 50px;
  width: 100%;
  background: #f4f4f4;
  padding: 0 10px;
  margin-bottom: 15px;
}
.search-form button {
  background: #F8B500;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  color: black;
  padding: 15px 30px;
}
.search-form button i {
  padding-right: 15px;
}
.search-form button:hover {
  background: black;
  color: white;
}
.search-form h3 {
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900000;
  display: none;
  cursor: url("../img/cursor.png"), auto;
}

.overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
}

.menu {
  position: relative;
  z-index: 999;
  background: #252525;
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
  height: 60px;
}
.menu.menu-down {
  position: fixed;
  width: 100%;
  right: 15px;
  top: 0;
}
.menu::after {
  bottom: -5px;
  box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, 0.06);
  content: "";
  height: 5px;
  left: 0px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 2050;
}
.menu .main-menu {
  position: relative;
}
.menu .main-menu .toggleMenu {
  cursor: pointer;
  display: none;
  color: black;
  margin: 10px 0;
  z-index: 10000;
  transition: 500ms;
}
.menu .main-menu .toggleMenu i {
  font-size: 26px;
}
.menu .main-menu .nav {
  display: block;
  text-align: center;
}
.menu .main-menu .nav li {
  padding: 13px 15px;
  transition: 0.5s;
  display: inline-block;
}
.menu .main-menu .nav li i {
  color: white;
  padding-left: 5px;
  font-size: 20px;
  transition: 0.5s;
}
.menu .main-menu .nav li .active {
  color: #F8B500;
}
.menu .main-menu .nav li a {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.5s;
}
.menu .main-menu .nav li a:hover {
  color: #F8B500;
}
.menu .main-menu .nav li:hover i, .menu .main-menu .nav li:hover a {
  color: #F8B500;
}
.menu .main-menu .nav li:hover .menu-bottom {
  opacity: 1;
  visibility: initial;
  transition: 0.5s;
  color: white;
  transform: translateY(0%) scaleY(1);
  height: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.menu .main-menu .nav li:hover h4 a, .menu .main-menu .nav li:hover li a {
  color: black;
}
.menu .main-menu .nav li .menu-bottom {
  position: absolute;
  left: 15px;
  width: 1110px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  margin-top: 12px;
  transform: translateY(-50%) scaleY(0);
  transition: 0.5s;
  padding: 30px;
  background: #111111;
  color: #C9C9C9;
}
.menu .main-menu .nav li .menu-bottom img {
  margin-top: 20px;
}
.menu .main-menu .nav li .menu-bottom a {
  transition: 0.5s;
}
.menu .main-menu .nav li .menu-bottom a:hover {
  color: #F8B500;
}
.menu .main-menu .nav li .menu-bottom h4 {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #383838;
  transition: 0.5s;
  text-align: left;
}
.menu .main-menu .nav li .menu-bottom h4 a {
  color: white;
}
.menu .main-menu .nav li .menu-bottom ul {
  text-align: left;
}
.menu .main-menu .nav li .menu-bottom ul li {
  padding: 0;
  padding-bottom: 15px;
  margin-right: -10px;
  display: inline-block;
  text-align: left;
  width: 50%;
}
.menu .main-menu .nav li .menu-bottom ul li a {
  font-weight: 500;
  font-size: 14px;
  text-transform: none;
  color: #C9C9C9;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.menu .main-menu .nav li .menu-bottom ul li i {
  font-size: 16px;
  color: #383838;
  padding-right: 10px;
}
.menu .main-menu .nav li .menu-bottom ul li:hover i {
  color: #F8B500;
}

.slider {
  position: relative;
  margin-bottom: -10px;
}
.slider .owl-theme .owl-dots {
  margin-top: -20px !important;
  z-index: 1;
  position: relative;
  background: none;
}
.slider .owl-theme .owl-dots .owl-dot span {
  border: 2px solid white;
  background: none;
  width: 15px;
  height: 15px;
}
.slider .owl-theme .owl-dots .owl-dot.active span,
.slider .owl-theme .owl-dots .owl-dot:hover span {
  background: #F8B500;
  border: none;
}
.slider .owl-theme .owl-nav button.owl-prev,
.slider .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  font-size: 40px;
  transition: 0.5s;
}
.slider .owl-theme .owl-nav button.owl-prev:hover,
.slider .owl-theme .owl-nav button.owl-next:hover {
  color: #F8B500;
  background: none;
}
.slider .owl-theme .owl-nav button.owl-prev:focus,
.slider .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.slider .owl-theme .owl-nav button.owl-prev {
  left: 3%;
  transform: rotateY(180deg);
}
.slider .owl-theme .owl-nav button.owl-next {
  right: 3%;
}
.slider .owl-carousel .owl-item img {
  filter: brightness(70%);
}
.slider-text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 500px;
  z-index: 1;
}
.slider-text h5 {
  color: #c5c5c5;
}
.slider-text h1 {
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 30px;
  margin-bottom: 10px;
}
.slider-text-content {
  margin-bottom: 40px;
}
.slider-text-content h3 {
  font-weight: 600;
  text-transform: uppercase;
  color: #F8B500;
}
.slider-text-content p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.slider-text-btn a {
  padding: 10px 30px;
  color: #c5c5c5;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
  margin: 0 10px;
  border: 2px solid #c5c5c5;
  border-radius: 5px;
  position: relative;
}
.slider-text-btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.slider-text-btn a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F8B500;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: right;
  transform: scaleX(0);
}
.slider-text-btn a:hover::after {
  transition: transform 0.5s;
  transform-origin: left;
  transform: scale(1);
}
.slider-text-btn a:hover {
  color: black;
  border-color: #F8B500;
}

.bread-crumb {
  background: #383838;
  padding: 20px 0;
  color: white;
  margin-bottom: 30px;
}
.bread-crumb .breadcrumb {
  background: none;
  padding: 0;
  margin-bottom: 0;
}
.bread-crumb .breadcrumb .breadcrumb-item {
  transition: 0.5s;
}
.bread-crumb .breadcrumb .breadcrumb-item:hover {
  color: #F8B500;
}
.bread-crumb .breadcrumb .breadcrumb-item.active {
  color: #F8B500;
}

.pagination .page-link {
  background: none;
  border-color: #cccccc;
  color: #383838;
  border-radius: 3px;
  transition: 0.5s;
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  background: white;
}
.pagination .page-link:hover, .pagination .page-link.active {
  background: #F8B500;
  color: white;
  border-color: #F8B500;
}

.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
  z-index: 1051;
}

.mfp-bg {
  z-index: 1052;
}

.mfp-wrap {
  z-index: 1053;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background: #F8B500;
}

.footer {
  background: #252525;
  color: white;
  padding-top: 30px;
}
.footer .title-footer {
  margin-bottom: 30px;
  z-index: 10;
  position: relative;
}
.footer .title-footer a {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
.footer .title-footer a i {
  background: none;
  float: right;
  width: 0;
  height: 0;
  border: 0;
  line-height: 0;
  margin-right: 30px;
  margin-top: 10px;
  font-size: 30px;
  opacity: 0;
}
.footer .card-body {
  background: none;
  border: none;
  border-radius: 0;
  color: #cccccc;
  padding: 0;
  margin-bottom: 20px;
}
.footer .card-body ul li {
  padding-bottom: 20px;
  transition: 0.5s;
}
.footer .card-body ul li a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: 0.5s;
}
.footer .card-body ul li a:hover {
  color: #F8B500;
}
.footer .card-body ul li a:hover span {
  color: #F8B500;
}
.footer .card-body ul li span {
  margin-right: 5px;
  transition: 0.5s;
  color: #cccccc;
  font-size: 16px;
}
.footer .card-body ul li:last-child {
  border: none;
}
.footer .social {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background: #252525;
  z-index: 10;
  top: -30px;
}
.footer .social i {
  padding: 7px 12px;
  background: #383838;
  display: inline-block;
  margin: 2px;
  transition: 0.5s;
  font-size: 16px;
}
.footer .social i:hover {
  background: #F8B500;
  color: black;
  transform: translateY(-20%);
}
.footer-top {
  margin-bottom: 50px;
  line-height: 1.8;
  color: #c5c5c5;
}
.footer-top img {
  margin-bottom: 20px;
}
.footer-mid {
  position: relative;
}
.footer-mid-in {
  border: 1px solid #383838;
  padding-top: 70px;
  overflow: hidden;
}
.footer-mid .info {
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
.footer-mid .info::before {
  content: "";
  position: absolute;
  width: 100%;
  background: #383838;
  top: -100px;
  left: 0;
  height: 9999px;
}
.footer-bottom {
  padding: 15px 0;
}

.partner {
  padding: 30px;
  background: #383838;
  margin-bottom: 30px;
}
.partner .owl-carousel .owl-item img {
  width: auto;
  max-height: 140px;
}

.banner {
  margin-bottom: 30px;
}
.banner .box-banner {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.banner .box-banner.box-banner-1 .box-banner-content {
  left: 30px;
}
.banner .box-banner.box-banner-2 .box-banner-content {
  right: 30px;
  text-align: right;
}
.banner .box-banner:hover img {
  transform: scale(1.2);
}
.banner .box-banner img {
  transition: 1s;
}
.banner .box-banner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
.banner .box-banner-content h1 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.banner .box-banner-content h3 {
  margin-bottom: 30px;
}
.banner .box-banner-content a {
  border: 2px solid white;
  padding: 10px 15px;
  border-radius: 50px;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 500;
}
.banner .box-banner-content a:hover {
  color: black;
  background: #F8B500;
  border-color: #F8B500;
}

.product-hot {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.product-hot .nav-tabs {
  border-bottom: 0;
  margin-bottom: 30px;
  text-align: center;
}
.product-hot .nav-tabs li {
  background: none;
  border: 1px solid #383838;
  margin: 0 -2px;
  position: relative;
  display: inline-block;
}
.product-hot .nav-tabs li:first-child::before {
  content: "";
  width: 100px;
  height: 1px;
  background: #383838;
  position: absolute;
  left: -100px;
  top: 50%;
}
.product-hot .nav-tabs li:last-child::before {
  content: "";
  width: 100px;
  height: 1px;
  background: #383838;
  position: absolute;
  right: -100px;
  top: 50%;
}
.product-hot .nav-tabs li a {
  transition: 0.5s;
}
.product-hot .nav-tabs li a:hover {
  border-radius: 0;
  border-color: #F8B500;
  color: #F8B500;
}
.product-hot .nav-tabs li .active {
  background: none;
  border-color: #F8B500;
  border-radius: 0;
  color: #F8B500;
}

.navbar.navbar-light {
  margin-bottom: 30px;
}
.navbar.navbar-light i {
  position: absolute;
  right: 30px;
  top: 20px;
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
}

.navbar.navbar-light .navbar-nav .nav-item.active > .nav-link {
  color: black;
  background: #F8B500;
}

.navbar.navbar-light .navbar-toggler {
  background: #383838;
  color: white;
  width: 100%;
  height: 50px;
  text-align: left;
}

.modal {
  cursor: url("../img/cursor.png"), auto;
  z-index: 1050;
}

.modal-content {
  background: #252525;
  cursor: default;
}
.modal-content .modal-header {
  border-color: #383838;
}
.modal-content .modal-header .close {
  color: white;
}
.modal-content .modal-header .close:hover {
  color: #F8B500;
  opacity: 1;
}
.modal-content .modal-footer {
  border-color: #383838;
}

.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
  z-index: 1051;
}

.box-product {
  position: relative;
  margin-bottom: 10px;
}
.box-product:hover .box-product-cart {
  opacity: 1;
  transform: none;
  transition-delay: 0.5s;
}
.box-product:hover .box-product-detail h4, .box-product:hover .box-product-detail h6 {
  transform: translateY(-50px);
  opacity: 0;
}
.box-product-status {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
.box-product-status h5 {
  background: #F8B500;
  width: 50px;
  height: 22px;
  line-height: 25px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 5px;
}
.box-product-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.box-product-img:hover .box-product-img-custom {
  opacity: 1;
  transform: none;
}
.box-product-img-custom {
  position: absolute;
  right: 10px;
  bottom: 5px;
  z-index: 1;
  transform: translateX(50px);
  opacity: 0;
  transition: 0.5s;
}
.box-product-img-custom .custom-quickview::before {
  content: "Xem nhanh";
  position: absolute;
  right: 39px;
  top: -1px;
  background: black;
  color: #cccccc;
  height: 37px;
  line-height: 37px;
  padding: 0 13px;
  width: 150px;
  text-align: center;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20%);
}
.box-product-img-custom .custom-quickview:hover::before {
  opacity: 1;
  visibility: initial;
  transform: translateX(0);
}
.box-product-img-custom .custom-wishlist::before {
  content: "Thêm vào yêu thích";
  position: absolute;
  right: 39px;
  top: 39px;
  background: black;
  color: #cccccc;
  height: 37px;
  line-height: 37px;
  padding: 0 13px;
  width: 180px;
  text-align: center;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20%);
}
.box-product-img-custom .custom-wishlist:hover::before {
  opacity: 1;
  visibility: initial;
  transform: translateX(0);
}
.box-product-img-custom i {
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  background: #383838;
  color: white;
  display: block;
  margin-bottom: 5px;
  transition: 0.5s;
}
.box-product-img-custom i:hover {
  color: black;
  background: #F8B500;
}
.box-product-cart {
  position: absolute;
  bottom: 37px;
  width: 100%;
  height: 50px;
  background: #383838;
  line-height: 50px;
  z-index: 1;
  cursor: pointer;
  transform: translateY(-50px);
  opacity: 0;
  font-size: 16px;
  transition: 0.5s;
}
.box-product-cart i {
  padding-right: 10px;
}
.box-product-cart a {
  transition-delay: 0;
  color: black;
  transition: 0.5s;
}
.box-product-cart a:hover {
  color: #F8B500 !important;
}
.box-product-detail h6 {
  color: #7D7D7D;
  margin-bottom: 5px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: 0.5s;
}
.box-product-detail h4 {
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: 0.5s;
}
.box-product-detail h4 a {
  transition: 0.5s;
}
.box-product-detail h4 a:hover {
  color: #F8B500;
}
.box-product-detail h5 {
  color: #F8B500;
  font-weight: 600;
}
.box-product-detail h5 span {
  text-decoration: line-through;
  color: #7D7D7D;
  margin-left: 20px;
  font-weight: 500;
}

.quickview {
  cursor: url("../img/cursor.png"), auto;
}
.quickview .modal-content {
  cursor: default;
}
.quickview .modal-content .modal-body img {
  margin-bottom: -5px;
}
.quickview .modal-content .modal-body h2 {
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h5 {
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 {
  color: #F8B500;
  font-weight: bold;
  margin-bottom: 15px;
}
.quickview .modal-content .modal-body h4 span {
  font-weight: 400;
  color: #585858;
  text-decoration: line-through;
  margin-left: 20px;
}
.quickview .modal-content .modal-body p {
  margin-bottom: 20px;
  color: #656565;
}
.quickview .modal-content .modal-body input {
  width: 40px;
  height: 40px;
  padding-left: 10px;
  margin: 0 10px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  margin-bottom: 20px;
  padding-top: 3px;
}
.quickview .modal-content .modal-body a {
  cursor: pointer;
  padding: 10px 20px;
  background: #F8B500;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 3px;
}
.quickview .modal-content .modal-body a:hover {
  color: black !important;
}
.quickview .modal-content .modal-body .cart-btn {
  border: 2px solid #F8B500;
}
.quickview .modal-content .modal-body .cart-btn:hover {
  background: none;
  border-color: black;
}
.quickview .modal-content .modal-body .xzoom-thumbs a {
  background: none;
}
.quickview .modal-content .modal-body .xzoom-thumbs .xactive {
  border: 1px solid #F8B500;
}
.quickview .modal-content .modal-body .modal-star {
  color: #F8B500;
  font-size: 16px;
  margin-bottom: 20px;
}
.quickview .modal-content .modal-body .modal-tag {
  padding-top: 20px;
  margin-top: 10px;
  border-top: 1px solid #e1e1e1;
}
.quickview .modal-content .modal-body .modal-tag span {
  margin-right: 3px;
}
.quickview .modal-content .modal-body .modal-tag span a {
  background: none;
  color: #F8B500;
  padding: 0;
  text-transform: none;
  font-weight: 500;
  transition: 0.5s;
}
.quickview .modal-content .modal-body .modal-tag span a:hover {
  color: #F8B500;
}
.quickview .quantity button {
  background: #F8B500;
  border: 0;
  padding: 0 14px;
  height: 40px;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.5s;
  border: 1px solid #F8B500;
}
.quickview .quantity button:hover {
  color: #F8B500;
  background: none;
}
.quickview .quantity .custom-wishlist {
  background: white;
  margin-left: 5px;
  border: 1px solid white;
}
.quickview .quantity .custom-wishlist:hover {
  border-color: #F8B500;
}

.modal-img {
  position: relative;
}
.modal-img .owl-theme .owl-nav button.owl-prev,
.modal-img .owl-theme .owl-nav button.owl-next {
  position: absolute;
  top: 30% !important;
  font-size: 30px !important;
  transition: 0.5s;
  color: #666;
  border: 0 !important;
  width: 0 !important;
  height: 0 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:hover,
.modal-img .owl-theme .owl-nav button.owl-next:hover {
  color: #F8B500 !important;
}
.modal-img .owl-theme .owl-nav button.owl-prev:focus,
.modal-img .owl-theme .owl-nav button.owl-next:focus {
  outline: none;
}
.modal-img .owl-theme .owl-nav button.owl-prev {
  left: 0;
}
.modal-img .owl-theme .owl-nav button.owl-next {
  right: 0;
}

.swiper-button-next {
  background-image: url("../img/right.png");
  background-size: cover;
}

.swiper-button-prev {
  background-image: url("../img/left.png");
  background-size: cover;
}

.service {
  background: #383838;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 60px;
  overflow: hidden;
}
.service .box-service {
  position: relative;
}
.service .box-service:hover i {
  color: #252525;
  transform: translateX(100%) scale(5);
  z-index: -1;
  opacity: 0.5;
}
.service .box-service:hover h4, .service .box-service:hover h5 {
  z-index: 1;
  position: relative;
}
.service .box-service i {
  float: left;
  padding-right: 10px;
  font-size: 50px;
  margin-top: -15px;
  transition: 1s;
  z-index: 1;
}
.service .box-service h4 {
  text-transform: uppercase;
  font-weight: 600;
  z-index: 1;
}
.service .box-service h5 {
  color: #C9C9C9;
}

@media (min-width: 1200px) {
  .main-menu .nav {
    transform: none !important;
  }
}
@media (max-width: 1200px) {
  body {
    margin-left: 15px;
  }

  .ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10;
  }

  .menu {
    position: absolute;
    background: none;
    border: 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .menu .container {
    position: inherit;
  }
  .menu.menu-down {
    position: absolute;
  }
  .menu .main-menu .toggleMenu {
    display: block;
    margin: 15px 0;
    position: absolute;
    top: 88px;
    right: 240px;
    z-index: 10;
    color: #707070;
    border: 1px solid #707070;
    border-radius: 3px;
    padding: 1px 8px;
  }
  .menu .main-menu .nav {
    display: block;
    text-align: left;
    background: rgba(0, 0, 0, 0.93);
    position: absolute;
    width: 300px;
    transform: translate(-300%, 0);
    margin-top: -2px;
    transition: 500ms;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    opacity: 0;
    z-index: 10000;
  }
  .menu .main-menu .nav.ssm-nav-visible {
    opacity: 1;
  }
  .menu .main-menu .nav li {
    display: block;
  }
  .menu .main-menu .nav li:first-child {
    margin-top: 30px;
  }
  .menu .main-menu .nav li a {
    text-transform: uppercase;
  }
  .menu .main-menu .nav li i {
    padding-left: 150px;
    font-size: 24px;
    margin-top: -8px;
    position: absolute;
    right: 15px;
  }
  .menu .main-menu .nav li:hover a {
    border-bottom: 0;
  }
  .menu .main-menu .nav li:hover .menu-bottom {
    visibility: hidden;
  }
  .menu .main-menu .nav li .menu-bottom.in,
.menu .main-menu .nav li .menu-bottom.out {
    position: fixed;
    opacity: 1;
    visibility: initial;
    transform: none;
    width: 300px;
    background: #111111;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 10;
    transition: 0.5s;
    overflow: scroll;
  }
  .menu .main-menu .nav li .menu-bottom.in::before,
.menu .main-menu .nav li .menu-bottom.out::before {
    content: "";
    font-family: fontAwesome;
    top: -50px;
    right: 0;
    width: 100%;
    height: 40px;
    border-right: 0;
    border-top: 0;
    background: none;
    font-size: 30px;
    line-height: 50px;
    padding-left: 30px;
    color: #cccccc;
  }
  .menu .main-menu .nav li .menu-bottom.in li,
.menu .main-menu .nav li .menu-bottom.out li {
    border: 0;
    padding: 10px 15px;
    width: 100%;
  }
  .menu .main-menu .nav li .menu-bottom.in li:first-child,
.menu .main-menu .nav li .menu-bottom.out li:first-child {
    margin-top: 0;
  }
  .menu .main-menu .nav li .menu-bottom.in li a,
.menu .main-menu .nav li .menu-bottom.out li a {
    text-transform: initial;
    font-weight: 500;
  }
  .menu .main-menu .nav li .menu-bottom.in li:before,
.menu .main-menu .nav li .menu-bottom.out li:before {
    content: none;
  }
  .menu .main-menu .nav li .menu-bottom.in li:hover,
.menu .main-menu .nav li .menu-bottom.out li:hover {
    background: none;
  }
  .menu .main-menu .nav li .menu-bottom.out {
    transform: translateX(-300%);
    opacity: 0;
  }
  .menu .main-menu .nav li .menu-bottom.in {
    transform: translateX(0);
    opacity: 1;
  }
  .menu .main-menu .nav li .menu-bottom {
    position: absolute;
    opacity: 1;
    visibility: hidden;
    transform: none;
    left: -300px;
    width: 100%;
    height: auto;
    padding: 0 0;
    background: none;
    margin-top: 7px;
  }
  .menu .main-menu .nav li .menu-bottom.menu-bottom-down {
    visibility: inherit;
    position: relative;
    transition: 0.1s;
    left: 0;
  }
  .menu .main-menu .nav li .menu-bottom img {
    display: none;
  }
  .menu .main-menu .nav li .menu-bottom h4 {
    margin: 0 15px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    margin-top: 20px;
  }
  .menu .main-menu .nav li .menu-bottom h4 a {
    display: block;
    text-transform: capitalize;
    font-size: 14px;
    color: white;
    font-weight: 500;
  }
  .menu .main-menu .nav li .menu-bottom h4 i {
    position: absolute;
    top: 30px;
    right: 15px;
  }
  .menu .main-menu .nav li .active {
    border-bottom: 0;
  }
  .menu-close {
    transform: scale(0) rotate(-180deg);
    position: absolute;
  }

  .box-product-img-custom {
    opacity: 1;
    transform: none;
  }
}
@media (max-width: 992px) {
  article {
    margin-top: 65px;
  }

  .header-bottom {
    padding: 10px 0;
    height: 65px;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    background: #111111;
  }
  .header-bottom .logo {
    left: 0;
    transform: translate(0, -35%);
  }
  .header-bottom .logo img {
    height: 60px;
    margin-top: 13px;
  }
  .header-bottom .custom-header .cart-form {
    margin-top: 8px;
  }

  .menu {
    right: 0;
    width: auto;
    position: fixed;
    height: auto;
  }
  .menu.menu-down {
    position: fixed;
    width: auto;
    right: 0;
  }
  .menu .main-menu .toggleMenu {
    top: -4px;
    right: 248px;
  }
}
@media (max-width: 767px) {
  article {
    padding-top: 30px;
  }

  .footer .title-footer a i {
    opacity: 1;
  }
}
@media (max-width: 575px) {
  .search-form {
    width: 96%;
  }
  .search-form select {
    top: 63px;
    right: 65px;
  }

  .header-bottom .custom-header a {
    border: 0;
    padding: 2px;
  }
  .header-bottom .custom-header a:hover {
    background: none;
    color: #F8B500;
  }
  .header-bottom .custom-header .cart-open-btn {
    margin-left: 10px;
  }
  .header-bottom .custom-header .cart-open-btn i {
    margin-left: 0;
  }
  .header-bottom .custom-header .cart-open-btn .price-cart {
    display: none;
  }
  .header-bottom .custom-header .cart-open-btn .badge-light {
    right: -5px;
    width: 20px;
    height: 20px;
    line-height: 13px;
    font-size: 12px;
    left: auto;
    top: -5px;
  }

  .menu .main-menu .toggleMenu {
    right: 95px;
    border: 0;
  }

  .header-bottom .logo {
    left: 15px;
  }
}

/*# sourceMappingURL=layout.css.map */
