@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-color: #252525;
  font-family: 'Montserrat';
  font-size: 14px;
  color: white;
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 30px
}

h2 {
  font-size: 24px
}

h3 {
  font-size: 20px
}

h4 {
  font-size: 16px
}

h5 {
  font-size: 14px
}

h6 {
  font-size: 12px
}

a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto
}

section {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

@media (max-width:575px) {
  h1 {
    font-size: 20px
  }

  h2 {
    font-size: 18px
  }

  h3 {
    font-size: 16px
  }

  h4 {
    font-size: 14px
  }

  h5 {
    font-size: 12px
  }

  h6 {
    font-size: 10px
  }
}

$main_color: #F8B500;

.go-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: white;
  font-size: 40px;
  transition: 500ms;
  z-index: 1000;
  cursor: pointer;
  transform: rotate(-90deg);

  i {
    transition: .5s;

    &:hover {
      color: $main_color;
    }
  }
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../img/loader.gif) center no-repeat white;
  animation-name: animateLoader;
  animation-duration: 2s;
  opacity: 0;
}

@keyframes animateLoader {
  0% {
    height: 100%;
    z-index: 10000000;
    opacity: 1;
  }

  80% {
    height: 100%;
    z-index: 10000000;
    opacity: 1;
  }

  100% {
    height: 0;

  }

}

button:focus {
  outline: none;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 0.2rem rgba($color: $main_color, $alpha: .5) !important;
}


//end default css -----------------------------------------------------


.header-top {
  border-bottom: 1px solid #383838;

  h5 {
    padding: 15px 0;
  }

  &-social {
    margin-top: 10px;

    i {
      padding: 5px 8px;
      border-radius: 50%;
      background: #383838;
      margin: 0 3px;
      color: #8F8F8F;
      font-size: 20px;
      transition: .5s;
      border: 1px solid #383838;

      &:hover {
        color: $main_color;
        background: none;
        border-color: $main_color;
      }
    }
  }
}

.header-bottom {
  padding: 50px 0;
  position: relative;
  height: 140px;

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 1;

    img {
      transition: .5s;

      &:hover {
        filter: brightness(60%);
      }
    }
  }

  .hotline-top {
    color: $main_color;

    a {
      transition: .5s;

      &:hover {
        color: white;
      }
    }

    i {
      font-size: 40px;
      float: left;
      margin-right: 10px;
      margin-top: -10px;
    }

    p {
      margin-bottom: 0px;
    }
  }

  .custom-header {
    color: white;

    a {
      color: #707070;
      margin-left: 10px;
      border-radius: 3px;
      transition: 500ms;
      display: inline-block;
      cursor: pointer;
      padding: 2px 8px;
      border: 1px solid #707070;

      i {
        font-size: 25px;
      }

      &:hover {
        color: black;
        background: $main_color;

        .price-cart {
          color: black;
        }

        .badge-warning {
          background: black !important;
        }
      }
    }

    .cart-open-btn {
      margin-left: 25px;
      position: relative;

      i {
        margin-left: 10px;
      }

      .price-cart {
        font-size: 14px;
        padding-left: 5px;
        margin-left: 5px;
        border-left: 1px solid #383838;
        color: white;
      }

      .badge-warning {
        position: absolute;
        margin-left: -15px;
        border-radius: 50%;
        left: 0;
        background: $main_color;
        color: white;
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 23px;
        font-weight: 400;
        top: 5px;
        transition: .5s;
      }
    }

    .card-body {
      position: absolute;
      margin-top: 20px;
      right: 0;
      z-index: 1000;
    }



    .cart-form {
      background: #111111;
      border: 1px solid black;
      position: absolute;
      width: 320px;
      right: 15px;
      margin-top: 46px;

      a {
        border: 0;
        padding: 0;
        margin-left: 0;
        color: white;

        &:hover {
          background: none;
          color: $main_color;

          i {
            color: $main_color;
          }
        }
      }

      i {
        color: white;
        font-size: 14px;
      }

      &-top {
        p {
          span {
            float: right;
            color: $main_color;
            font-weight: 400;
          }
        }
      }

      &-box-product {
        border-bottom: 1px solid #383838;
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: black;

        &-img {
          height: 100px;
          float: left;
          margin-right: 10px;
        }

        &-detail {
          text-align: left;

          h5 {
            transition: .5s;
            margin-bottom: 5px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            &:hover {
              color: $main_color;
            }
          }

          h6 {
            margin-bottom: 10px;
            color: white;
            font-weight: 400;
          }
        }
      }

      h4 {
        text-align: left;
        margin-top: 10px;
        color: black;

        span {
          float: right;
        }
      }

      &-btn {
        margin: {
          bottom: 10px;
        }

        a {
          background: #555555;
          color: #e1e1e1;
          padding: 10px 15px;
          text-transform: uppercase;
          margin: 3px;
          transition: .5s;
          width: 100%;
          font-weight: 600;

          &:hover {
            background: $main_color;
            color: black;
          }
        }
      }
    }
  }
}

.search-form {
  width: 400px;
  border: 0;
  position: fixed;
  z-index: 1000000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  background: #252525;
  padding: 30px 30px;

  input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background: #f4f4f4;
    color: black;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    outline: none;
    margin-bottom: 15px;
  }

  select {
    height: 50px;
    width: 100%;
    background: #f4f4f4;
    padding: 0 10px;
    margin-bottom: 15px;
  }

  button {
    background: $main_color;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    color: black;
    padding: 15px 30px;

    i {
      padding-right: 15px;
    }

    &:hover {
      background: black;
      color: white;
    }
  }

  h3 {
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900000;
  display: none;
  cursor: url('../img/cursor.png'), auto;
}

.overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
}

.menu {
  position: relative;
  z-index: 999;
  background: #252525;
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
  height: 60px;

  &.menu-down {
    position: fixed;
    width: 100%;
    right: 15px;
    top: 0;
  }

  &::after {
    bottom: -5px;
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
    content: "";
    height: 5px;
    left: 0px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 2050;
  }

  .main-menu {
    position: relative;

    .toggleMenu {
      cursor: pointer;
      display: none;
      color: black;
      margin: 10px 0;
      z-index: 10000;
      transition: 500ms;

      i {
        font-size: 26px;
      }
    }

    .nav {
      display: block;
      text-align: center;

      li {
        padding: 13px 15px;
        transition: .5s;
        display: inline-block;

        i {
          color: white;
          padding-left: 5px;
          font-size: 20px;
          transition: .5s;
        }

        .active {
          color: $main_color;
        }

        a {
          font-weight: bold;
          font-size: 16px;
          text-transform: uppercase;
          transition: .5s;

          &:hover {
            color: $main_color;

          }
        }

        &:hover {

          i,
          a {
            color: $main_color;
          }

          .menu-bottom {
            opacity: 1;
            visibility: initial;
            transition: .5s;
            color: white;
            transform: translateY(0%) scaleY(1);
            height: auto;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          h4 a,
          li a {
            color: black;
          }
        }

        .menu-bottom {
          position: absolute;
          left: 15px;
          width: 1110px;
          opacity: 0;
          visibility: hidden;
          transition: .5s;
          margin-top: 12px;
          transform: translateY(-50%) scaleY(0);
          transition: .5s;
          padding: 30px;
          background: #111111;
          color: #C9C9C9;

          img {
            margin-top: 20px;
          }

          a {
            transition: .5s;

            &:hover {
              color: $main_color;
            }
          }

          h4 {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #383838;
            transition: .5s;
            text-align: left;

            a {
              color: white;
            }
          }

          ul {
            text-align: left;

            li {
              padding: 0;
              padding-bottom: 15px;
              margin-right: -10px;
              display: inline-block;
              text-align: left;
              width: 50%;

              a {
                font-weight: 500;
                font-size: 14px;
                text-transform: none;
                color: #C9C9C9;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
              }

              i {
                font-size: 16px;
                color: #383838;
                padding-right: 10px;
              }

              &:hover {
                i {
                  color: $main_color;
                }
              }
            }
          }
        }
      }
    }
  }
}

.slider {
  position: relative;
  margin-bottom: -10px;

  .owl-theme .owl-dots {
    margin-top: -20px !important;
    z-index: 1;
    position: relative;
    background: none;

    .owl-dot span {
      border: 2px solid white;
      background: none;
      width: 15px;
      height: 15px;
    }

    .owl-dot.active span,
    .owl-dot:hover span {
      background: $main-color;
      border: none;
    }
  }

  .owl-theme .owl-nav {

    button.owl-prev,
    button.owl-next {
      position: absolute;
      top: 40%;
      font-size: 40px;
      transition: .5s;

      &:hover {
        color: $main-color;
        background: none;
      }

      &:focus {
        outline: none;
      }
    }

    button.owl-prev {
      left: 3%;
      transform: rotateY(180deg);
    }

    button.owl-next {
      right: 3%
    }
  }

  .owl-carousel .owl-item img {
    filter: brightness(70%);
  }

  &-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 1;

    h5 {
      color: #c5c5c5;
    }

    h1 {
      font-weight: 500;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: 30px;
      margin-bottom: 10px;
    }

    &-content {
      margin-bottom: 40px;

      h3 {
        font-weight: 600;
        text-transform: uppercase;
        color: $main_color;
      }

      p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    &-btn {
      a {
        padding: 10px 30px;
        color: #c5c5c5;
        font-weight: bold;
        text-transform: uppercase;
        transition: .5s;
        margin: 0 10px;
        border: 2px solid #c5c5c5;
        border-radius: 5px;
        position: relative;


        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $main_color;
          z-index: -1;
          transition: transform .5s;
          transform-origin: right;
          transform: scaleX(0);
        }

        &:hover::after {
          transition: transform .5s;
          transform-origin: left;
          transform: scale(1);
        }

        &:hover {
          color: black;
          border-color: $main_color;
        }
      }
    }
  }
}

.bread-crumb {
  padding: 20px 0;
  color: white;
  margin-bottom: 30px;
  background: #383838;

  .breadcrumb {
    background: none;
    padding: 0;
    margin-bottom: 0;


    .breadcrumb-item {
      &:first-child::before {
        content: none;
      }

      &:before {
        content: '\f017';
        font-family: fontAwesome;
        padding-left: 10px;
        padding-right: 15px;
      }

      &:hover {
        color: $main_color;
      }
    }

    .breadcrumb-item.active {
      color: $main_color;
    }
  }
}

.pagination {
  margin-top: 30px;

  .page-item .page-link {
    background: none;
    border: 1px solid #383838;
    color: white;
    border-radius: 3px;
    transition: .5s;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;

    &:hover,
    &.active {
      background: $main_color;
      color: black;
      border-color: $main_color;
    }
  }
}




.xzoom-source img,
.xzoom-preview img,
.xzoom-lens img {
  z-index: 1051;
}



.mfp-bg {
  z-index: 1052;
}

.mfp-wrap {
  z-index: 1053;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background: $main_color;
}

.footer {
  background-image: url('../img/bg-footer.png');
  color: white;
  padding-top: 30px;

  &-top {
    line-height: 1.8;

    p {
      width: 80%;
      margin: auto;
      color: #C9C9C9;
    }

    img {
      margin-bottom: 20px;
    }

    ul {
      margin: 10px 0;

      li {
        display: inline-block;

        a {
          padding-right: 10px;
          margin-right: 10px;
          border-right: 1px solid white;
          font-weight: 600;

          i {
            padding-right: 10px;
          }
        }

        &:last-child a {
          border: 0;
        }
      }
    }

    &-social {
      margin-top: 20px;

      a {
        font-size: 24px;
        padding: 5px 8px;
        border: 2px solid #C9C9C9;
        margin: 5px;
        transition: .5s;

        &:hover {
          color: $main_color;
          border-color: $main_color;
        }
      }
    }
  }

  &-bottom {
    border-top: 1px solid #383838;
    padding: 15px 0;
    margin-top: 30px;
  }
}


.partner {
  padding: 30px;
  background: #383838;
  margin-bottom: 30px;

  .owl-carousel .owl-item img {
    width: auto;
    max-height: 140px;
  }
}

.banner {
  margin-bottom: 30px;

  .box-banner {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    &.box-banner-1 {
      .box-banner-content {
        left: 30px;
      }
    }

    &.box-banner-2 {
      .box-banner-content {
        right: 30px;
        text-align: right;
      }
    }

    &:hover {
      img {
        transform: scale(1.2)
      }
    }

    img {
      transition: 1s;
    }

    &-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;

      h1 {
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      h3 {
        margin-bottom: 30px;
      }

      a {
        border: 2px solid white;
        padding: 10px 15px;
        border-radius: 50px;
        text-transform: uppercase;
        transition: .5s;
        font-weight: 500;

        &:hover {
          color: black;
          background: $main_color;
          border-color: $main_color;
        }
      }
    }
  }
}

.product-hot {
  margin-bottom: 30px;

  .nav-tabs {
    border-bottom: 0;
    margin-bottom: 30px;
    text-align: center;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: 70%;
      height: 1px;
      background: #383838;
      left: 50%;
      transform: translateX(-50%);
      top: 20px;
      z-index: 0;
    }

    li {
      background: #252525;
      border: 1px solid #383838;
      margin: 0 -2px;
      position: relative;
      display: inline-block;

      a {
        transition: .5s;

        &:hover {
          border-radius: 0;
          border-color: $main_color;
          color: $main_color;
        }
      }

      .active {
        background: none;
        border-color: $main_color;
        border-radius: 0;
        color: $main_color;
      }
    }
  }
}

.navbar.navbar-light {
  margin-bottom: 30px;

  i {
    position: absolute;
    right: 30px;
    top: 20px;
  }
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
}

.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
  color: black;
  background: $main_color;
}

.navbar.navbar-light .navbar-toggler {
  background: #383838;
  color: white;
  width: 100%;
  height: 50px;
  text-align: left;
}

.modal {
  cursor: url('../img/cursor.png'), auto;
  z-index: 1050;
}

.modal-content {
  background: #252525;
  cursor: default;

  .modal-header {
    border-color: #383838;

    .close {
      color: white;

      &:hover {
        color: $main-color;
        opacity: 1;
      }
    }
  }

  .modal-footer {
    border-color: #383838;
  }

}

.xzoom-source img,
.xzoom-preview img,
.xzoom-lens img {
  z-index: 1051;
}

.box-product {
  position: relative;
  margin-bottom: 10px;

  &.box-product-list {
    &:hover {
      .box-product-detail {

        h4,
        h6 {
          transform: none;
          opacity: 1;
        }
      }
    }

    .box-product-detail {
      text-align: left !important;

      p {
        display: block;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid #383838;
        color: #8F8F8F;
      }
    }

    .box-product-cart {
      width: auto;
      padding: 0 20px;
      opacity: 1;
      transform: none;
      right: 0;
      bottom: 10px;
    }

    .box-product-status {
      left: 25px;
    }

    .box-product-img-custom {
      right: 30px;
    }
  }

  &:hover {
    .box-product-cart {
      opacity: 1;
      transform: none;
      transition-delay: 0.5s;
    }

    .box-product-detail {

      h4,
      h6 {
        transform: translateY(-50px);
        opacity: 0;
      }
    }
  }

  &-status {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;

    h5 {
      background: $main_color;
      width: 50px;
      height: 22px;
      line-height: 25px;
      text-transform: uppercase;
      color: black;
      text-align: center;
      border-radius: 3px;
      margin-bottom: 5px;
    }
  }

  &-img {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;

    &:hover {
      .box-product-img-custom {
        opacity: 1;
        transform: none;
      }
    }

    &-custom {
      position: absolute;
      right: 10px;
      bottom: 5px;
      z-index: 9;
      transform: translateX(50px);
      opacity: 0;
      transition: .5s;

      .custom {
        &-quickview {
          &::before {
            content: 'Xem nhanh';
            position: absolute;
            right: 39px;
            top: -1px;
            background: black;
            color: #cccccc;
            height: 37px;
            line-height: 37px;
            padding: 0 13px;
            width: 150px;
            text-align: center;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
            transform: translateX(-20%);
          }

          &:hover::before {
            opacity: 1;
            visibility: initial;
            transform: translateX(0);
          }
        }

        &-wishlist {
          &::before {
            content: 'Thêm vào yêu thích';
            position: absolute;
            right: 39px;
            top: 39px;
            background: black;
            color: #cccccc;
            height: 37px;
            line-height: 37px;
            padding: 0 13px;
            width: 180px;
            text-align: center;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
            transform: translateX(-20%);
          }

          &:hover::before {
            opacity: 1;
            visibility: initial;
            transform: translateX(0);
          }
        }
      }

      i {
        cursor: pointer;
        font-size: 16px;
        padding: 5px 10px;
        background: #383838;
        color: white;
        display: block;
        margin-bottom: 5px;
        transition: .5s;

        &:hover {
          color: black;
          background: $main_color;
        }
      }
    }
  }

  &-cart {
    position: absolute;
    bottom: 37px;
    width: 100%;
    height: 50px;
    background: #383838;
    line-height: 50px;
    z-index: 1;
    cursor: pointer;
    transform: translateY(-50px);
    opacity: 0;
    font-size: 16px;
    transition: .5s;

    i {
      padding-right: 10px;
    }

    a {
      transition-delay: 0;
      color: black;
      transition: .5s;

      &:hover {
        color: $main_color !important;
      }
    }
  }

  &-detail {
    h6 {
      color: #7D7D7D;
      margin-bottom: 5px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      transition: .5s;
    }

    h4 {
      margin-bottom: 10px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      transition: .5s;

      a {
        transition: .5s;

        &:hover {
          color: $main_color;
        }
      }
    }

    h5 {
      color: $main_color;
      font-weight: 600;

      span {
        text-decoration: line-through;
        color: #7D7D7D;
        margin-left: 20px;
        font-weight: 500;
      }
    }

    p {
      display: none;
    }
  }

}


.quickview {
  cursor: url('../img/cursor.png'), auto;

  .modal-content {
    cursor: default;

    .modal-body {
      img {
        margin-bottom: -5px;
      }

      h2 {
        font-weight: bold;
        margin-bottom: 15px;
      }

      h5 {
        margin-bottom: 15px;
      }

      h4 {
        color: $main_color;
        font-weight: bold;
        margin-bottom: 15px;

        span {
          font-weight: 400;
          color: #585858;
          text-decoration: line-through;
          margin-left: 20px;
        }
      }

      p {
        margin-bottom: 20px;
        color: #656565;
      }

      input {
        width: 40px;
        height: 40px;
        padding-left: 10px;
        margin: 0 10px;
        border: 1px solid #e1e1e1;
        border-radius: 3px;
        margin-bottom: 20px;
        padding-top: 3px;
      }

      a {
        cursor: pointer;
        padding: 10px 20px;
        background: $main_color;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        transition: .5s;
        border-radius: 3px;

        &:hover {
          color: black !important;
        }
      }

      .cart-btn {
        border: 2px solid $main_color;

        &:hover {
          background: none;
          border-color: black;
        }
      }

      .xzoom-thumbs {
        a {
          background: none;
        }

        .xactive {
          border: 1px solid $main_color;
        }
      }

      .modal-star {
        color: $main_color;
        font-size: 16px;
        margin-bottom: 20px;
      }

      .modal-tag {
        padding-top: 20px;
        margin-top: 10px;
        border-top: 1px solid #e1e1e1;

        span {
          margin-right: 3px;

          a {
            background: none;
            color: $main_color;
            padding: 0;
            text-transform: none;
            font-weight: 500;
            transition: .5s;

            &:hover {
              color: $main_color;
            }
          }
        }
      }
    }
  }

  .quantity {
    button {
      background: $main_color;
      border: 0;
      padding: 0 14px;
      height: 40px;
      text-transform: uppercase;
      line-height: 40px;
      font-weight: 500;
      cursor: pointer;
      border-radius: 3px;
      transition: .5s;
      border: 1px solid $main_color;

      &:hover {
        color: $main_color;
        background: none;
      }
    }

    .custom-wishlist {
      background: white;
      margin-left: 5px;
      border: 1px solid white;

      &:hover {
        border-color: $main_color;
      }
    }
  }
}

.modal-img {
  position: relative;

  .owl-theme .owl-nav {

    button.owl-prev,
    button.owl-next {
      position: absolute;
      top: 30% !important;
      font-size: 30px !important;
      transition: .5s;
      color: #666;
      border: 0 !important;
      width: 0 !important;
      height: 0 !important;

      &:hover {
        color: $main_color !important;
      }

      &:focus {
        outline: none;
      }
    }

    button.owl-prev {
      left: 0;
    }

    button.owl-next {
      right: 0;
    }
  }
}

.swiper-button-next {
  background-image: url('../img/right.png');
  background-size: cover;
}

.swiper-button-prev {
  background-image: url('../img/left.png');
  background-size: cover;
}

.service {
  background: #383838;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 60px;
  overflow: hidden;

  .box-service {
    position: relative;

    &:hover {
      i {
        color: #252525;
        transform: translateX(100%) scale(5);
        z-index: -1;
        opacity: 0.5;
      }

      h4,
      h5 {
        z-index: 1;
        position: relative;
      }
    }

    i {
      float: left;
      padding-right: 10px;
      font-size: 50px;
      margin-top: -15px;
      transition: 1s;
      z-index: 1;
    }

    h4 {
      text-transform: uppercase;
      font-weight: 600;
      z-index: 1
    }

    h5 {
      color: #C9C9C9;
    }
  }
}

.product-watches {
  margin-bottom: 30px;
  position: relative;

  &-title {
    margin-top: 150px;
    margin-bottom: 20px;

    h2 {
      margin-bottom: 20px;
      font-weight: 600;
      text-transform: uppercase;
    }

    &-img {
      position: relative;

      &-btn {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;

        a {
          background: white;
          color: black;
          padding: 10px 30px;
          text-transform: uppercase;
          transition: .5s;

          &:hover {
            background: $main_color;
          }
        }
      }
    }
  }

  &-main {
    .nav-tabs {
      border-bottom: 0;
      margin-bottom: 20px;

      li {
        display: inline-block;
        background: none;
        border: 0;
        padding: 10px 15px;

        .active {
          background: none;
          border: 0;
          color: $main_color;
          border-bottom: 1px solid $main_color;
        }

        a {
          color: white;
          padding: 0;
          padding-bottom: 5px;
          border: 0;
          border-bottom: 1px solid transparent;

          &:hover {
            border: 0;
            color: $main_color;
            border-bottom: 1px solid $main_color;
          }
        }
      }
    }

    .box-product {
      margin-bottom: 10px;
    }
  }

  .scroll-product {
    width: 100%;
    background: #C9C9C9;
    color: black;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;

    a {
      padding: 10px 50px;
      font-weight: 600;

      i {
        padding-left: 10px;
      }
    }
  }
}

.tab-product {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.contact-banner {
  background-image: url('../img/bg-contact.png');
  background-attachment: fixed;
  padding: 50px 0;
  margin-bottom: 60px;

  h4 {
    span {
      color: $main_color;
    }
  }

  h5 {
    font-style: italic;
    color: #C9C9C9;

    a {
      color: white;
      font-style: normal;
      margin-left: 10px;
      padding: 10px 15px;
      border: 1px solid white;
      border-radius: 5px;
      text-transform: uppercase;
      transition: .5s;

      &:hover {
        color: $main_color;
        border-color: $main_color;
      }
    }
  }
}

.phone {
  background: #383838;
  padding-top: 50px;

  &-title {
    h1 {
      text-transform: uppercase;
      margin-bottom: 20px;
      font-weight: 600;
    }
  }

  &-main {
    .swiper-phone {
      margin-bottom: 50px;
    }

    &-title {
      padding-bottom: 10px;
      border-bottom: 1px solid #666;
      margin-bottom: 25px;
    }
  }
}

.box-phone {
  &-img {
    width: 110px;
    margin-right: 10px;
    float: left;
    overflow: hidden;

    &:hover {
      img {
        transform: scale(1.2);
        filter: brightness(60%);
      }
    }

    img {
      transition: .5s;
    }
  }

  &-detail {
    display: inline-block;
    width: calc(100% - 130px);

    h6 {
      color: #7D7D7D;
      margin-bottom: 5px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      transition: .5s;
    }

    h4 {
      margin-bottom: 10px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      transition: .5s;

      a {
        transition: .5s;

        &:hover {
          color: $main_color;
        }
      }
    }

    h5 {
      color: $main_color;
      font-weight: 600;

      span {
        text-decoration: line-through;
        color: #7D7D7D;
        margin-left: 15px;
        font-weight: 500;
      }
    }

    p {
      margin-bottom: 10px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      transition: .5s;

      a {
        transition: .5s;

        &:hover {
          color: $main_color;
        }
      }
    }
  }
}

.message {
  margin: 50px 0;

  .box-message {
    background: $main_color;
    width: 100%;
    padding: 15px 0;
    color: black;
    text-align: center;

    a {
      padding: 7px 30px;
      margin-left: 30px;
      border-radius: 5px;
      border: 2px solid black;
      text-transform: uppercase;
      font-weight: 600;
      transition: .5s;

      &:hover {
        background: black;
        color: white;
      }
    }
  }
}

.product-page {
  .title-filter {
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid $main_color;
    margin-bottom: 20px;
  }

  .filter {
    .close-filter {
      font-size: 20px;
      cursor: pointer;
      float: right;
      margin-top: -20px;
    }

    &-cate {
      margin-bottom: 30px;

      &-title {
        background: white;
        color: black;
        width: 100%;
        padding: 10px 20px;
        display: block;
        margin-bottom: 10px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 600;

        i {
          float: right;
          font-size: 24px;
          margin-top: -7px;
        }
      }

      .checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 14px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding-top: 3px;
      }

      .checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
      }

      .checkbox:hover input~.checkmark {
        background-color: #ccc;
      }

      .checkbox input:checked~.checkmark {
        background-color: $main_color;
      }

      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }

      .checkbox input:checked~.checkmark:after {
        display: block;
      }

      .checkbox .checkmark:after {
        left: 11px;
        top: 6px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    &-price,
    &-color {
      margin-bottom: 30px;
    }

    &-color {
      ul {
        li {
          cursor: pointer;
          margin-bottom: 10px;
          transition: .5s;

          .filter-color-box {
            width: 25px;
            height: 25px;
            border-radius: 3px;
            display: inline-block;
            margin-right: 10px;
          }

          &:hover {
            color: $main_color;
          }

        }
      }
    }

    &-reset {
      width: 100%;
      padding: 10px;
      background: $main_color;
      cursor: pointer;
      text-align: center;
      border-radius: 5px;
      transition: .5s;
      border: 2px solid $main_color;

      &:hover {
        background: none;

        a {
          color: $main_color;
        }
      }

      a {
        text-transform: uppercase;
        font-weight: 600;
        color: black;
      }
    }
  }

  .product-page-main {
    margin-bottom: 50px;

    h1 {
      text-transform: uppercase;
      margin-bottom: 30px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      margin-top: 5px;
      text-align: center;
      font-weight: 600;
    }

    .sort-product {
      margin-bottom: 30px;

      select {
        display: inline-block;
        height: 40px;
      }

      span {
        margin-right: 10px;
      }
    }
  }

  .filter-btn {
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;

    &:hover {
      color: black;
      background: $main_color;
    }

    i {
      padding-right: 5px;
      font-size: 20px;
    }
  }

  .view-type-name {
    display: inline-block;
    margin-right: 10px;
  }

  .view-type {
    background: none;
    border: 1px solid #8F8F8F;
    color: #8F8F8F;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    margin: 3px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    transition: .5s;

    &.grid-4,
    &.grid-5 {
      transform: rotate(90deg);
    }

    &.active,
    &:hover {
      background: $main_color;
      color: black;
      border-color: $main_color;
    }
  }

  .tab-product {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product-detail {
    &-1 {
      &-img {
        .xzoom-thumbs {
          margin-top: 10px;
          margin-bottom: 30px;
          padding: 0 50px;
          position: relative;

          .xzoom-gallery {
            &:hover {
              border-color: $main-color;
            }
          }

          .xactive {
            border-color: $main-color;
            box-shadow: 0px 0px 3px 0px $main-color;
          }

          .owl-theme .owl-nav {

            button.owl-prev,
            button.owl-next {
              position: absolute;
              top: 0;
              font-size: 30px;
              transition: .5s;

              &:hover,
              &:focus {
                color: $main-color;
                background: none;
                outline: none;
              }
            }

            button.owl-prev {
              left: -12%
            }

            button.owl-next {
              right: -12%
            }
          }
        }
      }

      &-detail {
        color: #cccccc;
        margin-bottom: 30px;

        h2 {
          font-weight: bold;
          margin-bottom: 15px;
          color: white;
        }

        h4 {
          color: $main-color;
          font-weight: bold;
          margin-bottom: 20px;

          span {
            color: #cccccc;
            font-weight: 400;
            text-decoration: line-through;
            margin-left: 30px;
          }
        }

        h5 {
          padding-bottom: 30px;
          margin-bottom: 30px;
          border-bottom: 1px solid #383838;
        }

        .quantity {
          a {
            margin: 0 10px;
            transition: .5s;

            &:hover {
              color: $main-color;
            }
          }

          input {
            width: 40px;
            height: 40px;
            text-align: center;
            border: 1px solid #383838;
            background: none;
            color: #cccccc;
            outline-color: $main-color;
            border-radius: 3px;
            margin-bottom: 10px;
            margin-left: 5px;
          }

          button {
            background: $main-color;
            color: black;
            height: 40px;
            padding: 0 10px;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
            transition: .5s;
            border: 2px solid $main-color;
            margin-left: 5px;

            &:hover,
            &:focus {
              background: none;
              color: $main-color;
              box-shadow: none;
              outline: none;
            }

            &.quantity-wishlist {
              width: 40px;
              color: white;
              background: black;
              margin-left: 5px;
              border: 0;

              &:hover {
                background: $main-color;
                color: black;
              }
            }
          }
        }
      }
    }

    &-2 {
      &-title {
        .nav-tabs {
          border-bottom: 2px solid #383838;
          margin-bottom: 30px;

          .nav-item {
            margin-bottom: -2px;

            .nav-link {
              padding-bottom: 11px;
              border: none;
              border-bottom: 2px solid #383838;
              transition: .5s;
              font-weight: bold;

              &.active,
              &:hover {
                background: none;
                border: none;
                border-bottom: 2px solid $main-color;
                padding-bottom: 11px;
                color: $main-color;
              }
            }
          }
        }
      }
    }
  }

  .similar {
    border-top: 2px solid #383838;
    margin: 30px 0;
    padding-top: 30px;

    &-title {
      text-transform: uppercase;
      margin-bottom: 30px;

      h1 a {
        font-weight: bold;
      }
    }

    .tab-product {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &-left {
    display: grid;
    grid-template-columns: 1fr;

    .box-phone {
      display: block;
      margin-bottom: 30px;

      .box-phone-detail h5 span {
        margin-left: 0;
        margin-top: 5px;
      }
    }

    &-title {
      margin-bottom: 30px;

      h3 {
        padding-bottom: 10px;
        border-bottom: 1px solid $main_color;
      }
    }
  }
}

.page-text {
  margin-bottom: 60px;

  h1 {
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;

    a {
      padding-bottom: 10px;
      border-bottom: 2px solid $main_color;
      font-weight: bold;
    }
  }

  img {
    margin-bottom: 20px;
  }
}

.contact-page {
  margin-top: 30px;
  color: #cccccc;

  .title-page {
    h1 {
      margin-bottom: 40px;

      a {
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 2px solid $main-color;
        font-weight: bold;
        color: white;

        &:hover {
          color: white;
        }
      }
    }
  }

  .box-contact {
    margin-bottom: 50px;

    .form-group {

      input {
        height: 50px;
        border-color: #383838;
        background: none;
        color: #cccccc;
        outline-color: $main-color;
        border-radius: 3px;
        font-size: 14px;

        &:focus,
        &:hover {
          border-color: $main-color;
          box-shadow: none;
        }
      }

      textarea {
        height: 150px;
        border-color: #383838;
        background: none;
        color: #cccccc;

        &:focus,
        &:hover {
          border-color: $main-color;
          box-shadow: none;
        }
      }
    }

    button {
      border: 0;
      background: none;
      margin-top: 30px;
      cursor: pointer;

      a {
        color: $main-color;
        border: 2px solid $main-color;
        padding: 10px 20px;
        text-transform: uppercase;
        font-weight: bold;
        transition: 500ms;
        position: relative;
        border-radius: 3px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $main-color;
          z-index: -1;
          transition: transform .5s;
          transform-origin: right;
          transform: scaleX(0);
        }

        &:hover::after {
          transition: transform .5s;
          transform-origin: left;
          transform: scale(1);
        }

        &:hover {
          color: black;
          border-color: $main-color;
        }
      }
    }
  }

  .contact-banner {
    margin-bottom: 50px;
    overflow: hidden;

    img {
      transition: 1s;
    }

    &:hover img {
      transform: scale(1.2);
      filter: brightness(60%);
    }
  }
}

.wishlist-page {
  margin: 40px 0;

  .box-wishlist-page {
    border: 1px solid #383838;
    padding: 10px;
    color: #cccccc;
    margin-bottom: 30px;

    img {
      margin-bottom: 15px;
    }

    h5 {
      margin-bottom: 10px;
    }

    h4 {
      color: $main-color;
      font-weight: bold;
      margin-bottom: 10px;
    }

    &-quantity {
      border: 1px solid #383838;
      padding: 10px;
      margin-bottom: 10px;

      input {
        width: 40px;
        height: 40px;
        border-radius: 3px;
        border: 1px solid #383838;
        background: none;
        color: #cccccc;
        text-align: center;

        &:focus,
        &:hover {
          outline-color: $main-color;
        }
      }

      a {
        margin: 0 5px;
        transition: .5s;

        &:hover {
          color: $main-color;
        }
      }

      button {
        border-radius: 3px;
        border: 2px solid $main-color;
        background: $main-color;
        color: black;
        padding: 10px 20px;
        cursor: pointer;
        margin-top: 20px;
        font-weight: bold;
        text-transform: uppercase;
        transition: .5s;
        width: 100%;

        &:hover {
          background: none;
          color: $main-color;
        }

        &:focus {
          outline: none;
        }
      }
    }

    &-btn {
      a {
        transition: .5s;

        &:hover {
          color: $main-color;
        }
      }

      .wishlist-remove {
        margin-left: 20px;
      }
    }
  }

  .wishlist-btn {
    button {
      background: none;
      color: #cccccc;
      border: none;
      cursor: pointer;
      margin-bottom: 25px;
    }

    i {
      margin-right: 10px;
    }

    a {
      background: #383838;
      color: #cccccc;
      padding: 10px 15px;
      border-radius: 3px;
      text-transform: uppercase;
      margin: 2px;
      transition: .5s;

      &:hover {
        background: $main-color;
        color: black;
      }
    }
  }
}

.cart-page {
  margin-top: 40px;
  margin-bottom: 40px;

  &-product {
    margin-bottom: 30px;

    table {
      border: 1px solid #383838;

      thead {
        background: #383838;
        border: none;

        th {
          border-right: 1px solid #444343;
          text-align: center;
        }
      }

      tbody {
        td {
          text-align: center;
        }

        h4 {
          font-weight: bold;
        }
      }
    }

    .table-dark {
      background: transparent;
    }

    .table-responsive>.table-bordered {
      border-top: 1px solid #4a4949;
    }

    &-1 {
      text-align: left !important;
      color: white;

      img {
        width: 100px;
        float: left;
        margin-right: 10px;
      }

      h5 {
        transition: .5s;
        
        a {
          color: white;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        
          &:hover {
            color: $main-color;
          }
        }
      }

      i {
        margin-top: 5px;
        transition: .5s;
        color: white;

        &:hover {
          color: $main-color;
        }
      }
    }

    &-2 {
      text-align: center;

      input {
        width: 30px;
        height: 30px;
        background: none;
        color: #cccccc;
        border: 1px solid #383838;
        text-align: center;
        border-radius: 3px;
        margin: 5px;
        padding-left: 5px;

        &:focus {
          outline-color: $main-color;
        }
      }
    }

    &-3 {
      h4 {
        color: $main-color;
      }
    }
  }

  &-total {
    border: 1px solid #383838;
    padding: 10px;
    margin-bottom: 30px;

    &-title {
      border-bottom: 1px solid #383838;
      margin-bottom: 10px;
    }

    .table-dark {
      background: none;
      font-size: 12px;

      .total-over {
        color: $main-color;
      }
    }

    input {
      height: 40px;
      width: 100%;
      border: 1px solid #383838;
      background: none;
      padding-left: 10px;
      font-style: italic;
      color: #cccccc;

      &:focus {
        outline-color: $main-color;
      }
    }

    button {
      background: #383838;
      color: #cccccc;
      border: none;
      padding: 5px 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      cursor: pointer;
      transition: .5s;

      &:hover,
      &:focus {
        background: $main-color;
        color: black;
        outline: none;
      }
    }

    &-btn {
      border-top: 1px solid #383838;
      margin-top: 10px;
      padding-top: 10px;

      button {
        text-transform: uppercase;
        width: 100%;
        height: 40px;
        color: black;
        background: $main-color;
        border: 2px solid $main-color;

        a {
          font-weight: bold;
        }

        &:hover {
          background: none;
          color: $main-color;
        }
      }
    }
  }

  &-btn {

    button {
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      color: #cccccc;
      margin-left: 5px;
      margin-bottom: 30px;

      &:hover {
        color: black;
        background: $main-color;
      }
    }

    a {
      text-transform: uppercase;
      padding: 10px 15px;
      background: #383838;
      color: #cccccc;
      transition: .5s;
      border-radius: 3px;

      &:hover {
        color: black;
        background: $main-color;
      }
    }
  }
}

.pay-page {
  margin: 40px 0;
  color: #cccccc;

  &-title {
    h4 {
      margin-bottom: 20px;
      font-weight: bold;
      color: white;
    }
  }

  .pay-info {
    &-1 {
      border: 1px solid #383838;
      padding: 10px;
      padding-bottom: 0;
      margin-bottom: 30px;

      input,
      select {
        height: 40px;
        border: 1px solid #383838;
        background: none;
        color: #cccccc;
        font-size: 14px;

        &:hover,
        &:focus {
          box-shadow: 0 0 0 0.1rem $main-color;
        }
      }

      textarea {
        background: none;
        border: 1px solid #383838;
        height: 100px;
        font-size: 14px;

        &:hover,
        &:focus {
          box-shadow: 0 0 0 0.1rem $main-color;
        }
      }

      option {
        background: #383838;
      }

      .form-group {
        margin-bottom: 20px;
      }
    }

    &-2 {
      border: 1px solid #383838;
      padding: 10px;
      color: #cccccc;

      .table-dark {
        background: none;
        border-color: #383838;
        color: #cccccc;

        td {
          text-align: center;
        }

        .pay-total {
          color: $main-color;
        }
      }

      &-btn {
        margin-top: 20px;
        margin-bottom: 20px;

        button {
          background: none;
          color: #cccccc;
          border: none;
          margin-left: 10px;
          cursor: pointer;

          &:focus {
            outline: none;
          }
        }

        a {
          background: #383838;
          color: #cccccc;
          padding: 10px 15px;
          border-radius: 3px;
          transition: .5s;

          &:hover {
            background: $main-color;
            color: black;
          }
        }

        .order-btn {
          padding: 8px 20px;
          font-weight: bold;
          text-transform: uppercase;
          color: black;
          background: $main-color;
          border: 2px solid $main-color;

          &:hover {
            background: none;
            color: $main-color;
          }
        }
      }

    }
  }

  .pay-order {
    border: 1px solid #383838;
    padding: 10px;
    margin-bottom: 30px;

    p {
      margin: 0;
    }

    .box-pay-order {
      padding-top: 10px;
      margin-top: 10px;
      border-top: 1px solid #383838;

      img {
        width: 100px;
        margin-right: 10px;
        float: left;
        position: relative;
      }

      h5 {
        margin-bottom: 5px;

        a {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          transition: .5s;

          &:hover {
            color: $main-color;
          }
        }
      }

      h4 {
        color: $main-color;
      }
    }
  }
}







// --------------------------------------------------------------------
@media (max-width: 1440px) {}

@media (min-width: 1200px) {
  .main-menu .nav {
    transform: none !important;
  }

}

@media (max-width: 1200px) {
  body {
    margin-left: 15px;
  }

  .ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 10;
  }

  .menu {
    position: absolute;
    background: none;
    border: 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    &.menu-down {
      position: absolute;
    }

    .main-menu {
      .toggleMenu {
        display: block;
        margin: 15px 0;
        position: absolute;
        top: 88px;
        right: 272px;
        z-index: 10;
        color: #707070;
        border: 1px solid #707070;
        border-radius: 3px;
        padding: 1px 8px;
      }

      .nav {
        display: block;
        text-align: left;
        background: rgba(0, 0, 0, .93);
        position: absolute;
        width: 300px;
        transform: translate(-300%, 0);
        margin-top: -2px;
        transition: 500ms;
        height: 100vh;
        overflow: scroll;
        overflow-x: hidden;
        opacity: 0;
        z-index: 10000;
        padding-top: 30px;

        &.ssm-nav-visible {
          opacity: 1;
        }

        li {
          display: block;

          &:first-child {
            margin-top: 30px;
          }

          a {
            text-transform: uppercase;
          }

          i {
            padding-left: 150px;
            font-size: 24px;
            margin-top: -8px;
            position: absolute;
            right: 15px;
          }

          &:hover {
            a {
              border-bottom: 0;
            }

            .menu-bottom {
              visibility: hidden;
            }
          }

          .menu-bottom.in,
          .menu-bottom.out {
            position: fixed;
            opacity: 1;
            visibility: initial;
            transform: none;
            width: 300px;
            background: #111111;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 10;
            transition: .5s;
            overflow: scroll;

            &::before {
              content: '\f177';
              font-family: fontAwesome;
              top: -50px;
              right: 0;
              width: 100%;
              height: 40px;
              border-right: 0;
              border-top: 0;
              background: none;
              font-size: 30px;
              line-height: 50px;
              padding-left: 30px;
              color: #cccccc;
            }

            li {
              border: 0;
              padding: 10px 15px;
              width: 100%;

              &:first-child {
                margin-top: 0;
              }

              a {
                text-transform: initial;
                font-weight: 500;
              }

              &:before {
                content: none;
              }

              &:hover {
                background: none;
              }
            }
          }

          .menu-bottom.out {
            transform: translateX(-300%);
            opacity: 0;
          }

          .menu-bottom.in {
            transform: translateX(0);
            opacity: 1;
          }

          .menu-bottom {
            position: absolute;
            opacity: 1;
            visibility: hidden;
            transform: none;
            left: -300px;
            width: 100%;
            height: auto;
            padding: 0 0;
            background: none;
            margin-top: 7px;

            &.menu-bottom-down {
              visibility: inherit;
              position: relative;
              transition: 0.1s;
              left: 0;
            }

            img {
              display: none;
            }

            h4 {
              margin: 0 15px;
              margin-bottom: 5px;
              padding-bottom: 10px;
              margin-top: 20px;

              a {
                display: block;
                text-transform: capitalize;
                font-size: 14px;
                color: white;
                font-weight: 500;
              }

              i {
                position: absolute;
                top: 30px;
                right: 15px;
              }
            }


          }

          .active {
            border-bottom: 0;
          }
        }
      }
    }

    &-close {
      transform: scale(0) rotate(-180deg);
      position: absolute;
    }
  }

  .box-product-img-custom {
    opacity: 1;
    transform: none;
  }

  .filter {
    overflow: scroll;
  }
}

@media (min-width: 992px) {
  .filter {
    transform: none !important;
  }
}

@media (max-width: 992px) {
  article {
    margin-top: 65px;
  }

  .header-bottom {
    padding: 10px 0;
    height: 65px;
    z-index: 10;
    position: fixed;
    width: 100%;
    top: 0;
    background: #111111;

    .logo {
      left: 0;
      transform: translate(0, -35%);

      img {
        height: 60px;
        margin-top: 13px;
      }
    }

    .custom-header .cart-form {
      margin-top: 8px;
    }
  }

  .menu {
    right: 0;
    width: auto;
    position: fixed;
    height: auto;

    &.menu-down {
      position: fixed;
      width: auto;
      right: 0;
    }

    .main-menu {
      .toggleMenu {
        top: -4px;
        right: 287px;
      }
    }
  }

  .product-watches-title {
    margin: 0;

    h2 {
      margin-bottom: 0;
    }
  }


  .product-watches-main .nav-tabs {
    text-align: center;
  }

  .footer-top {
    p {
      width: 100%;
    }

    ul li {
      display: block;
      padding: 0;
      padding-bottom: 10px;

      a {
        border: 0;
      }
    }
  }

  .product-page .tab-product {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .filter {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000000;
    background: #252525;
    width: 300px;
    padding: 30px;
    transform: translateX(300px);
    transition: .5s;
    height: 100vh;
    overflow-y: scroll;
  }

  .product-page .similar .tab-product {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 767px) {
  article {
    padding-top: 0;
  }

  .product-page .tab-product {
    grid-template-columns: 1fr 1fr;
  }

  .product-page .similar .tab-product {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 575px) {
  .search-form {
    width: 96%;

    select {
      top: 63px;
      right: 65px;
    }
  }

  .header-bottom .custom-header {
    a {
      border: 0;
      padding: 2px;

      &:hover {
        background: none;
        color: $main_color;
      }
    }

    .cart-open-btn {
      margin-left: 10px;

      i {
        margin-left: 0;
      }

      .price-cart {
        display: none;
      }

      .badge-warning {
        right: -5px;
        width: 20px;
        height: 20px;
        line-height: 13px;
        font-size: 12px;
        left: auto;
        top: -5px;
      }
    }
  }

  .menu .main-menu .toggleMenu {
    right: 130px;
    border: 0;
  }

  .header-bottom .logo {
    left: 15px;
  }

  .nav-close {
    position: absolute;
    font-size: 24px;
    top: 10px;
    right: 10px;
    color: $main_color;
    width: 100px;
    text-align: right;
  }

  .message .box-message a {
    display: block;
    margin-right: 30px;
    margin-top: 10px;
  }

  .box-product-detail h5 {
    font-size: 10px;
  }

  .box-product-img-custom i {
    font-size: 14px;
    padding: 3px 7px;
  }

  .tab-product {
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
  }

  .partner .owl-carousel .owl-item img {
    max-height: 50px;
  }

  .box-product-cart {
    bottom: 25px;
  }

  .cart-page-product-1 img {
    float: none;
    margin-bottom: 5px;
    width: 100%;
  }
}

@media (max-width: 410px) {
  .box-product-detail h5 span {
    margin-left: 7px;
  }

  .box-product-status h5 {
    width: 35px;
    height: 15px;
    line-height: 18px;
    font-size: 10px;
  }

  .box-product-cart {
    font-size: 14px;
  }

  .partner {
    padding: 15px 0;
    margin-bottom: 15px;
  }

  .banner .box-banner {
    margin-bottom: 15px;
  }
}
