@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-color: #252525;
  font-family: 'Montserrat';
  font-size: 14px;
  color: white;
  margin: 0;
  margin-right: 15px;
  overflow-x: hidden;
  font-weight: 400
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  font-size: 30px
}

h2 {
  font-size: 24px
}

h3 {
  font-size: 20px
}

h4 {
  font-size: 16px
}

h5 {
  font-size: 14px
}

h6 {
  font-size: 12px
}

a {
  outline: none;
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
  color: inherit
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: none;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto
}

section {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

@media (max-width:575px) {
  h1 {
    font-size: 20px
  }

  h2 {
    font-size: 18px
  }

  h3 {
    font-size: 16px
  }

  h4 {
    font-size: 14px
  }

  h5 {
    font-size: 12px
  }

  h6 {
    font-size: 10px
  }
}

$main_color: #F8B500;

.go-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: white;
  font-size: 40px;
  transition: 500ms;
  z-index: 1000;
  cursor: pointer;
  transform: rotate(-90deg);

  i {
    transition: .5s;

    &:hover {
      color: $main_color;
    }
  }  
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../img/loader.gif) center no-repeat white;
  animation-name: animateLoader;
  animation-duration: 2s;
  opacity: 0;
}

@keyframes animateLoader {
  0% {
    height: 100%;
    z-index: 10000000;
    opacity: 1;
  }

  80% {
    height: 100%;
    z-index: 10000000;
    opacity: 1;
  }

  100% {
    height: 0;

  }

}

button:focus {
  outline: none;
}

input:focus , select:focus {
  box-shadow: 0 0 0 0.2rem rgba($color: $main_color, $alpha: .5)!important;
}


//end default css -----------------------------------------------------


.header-top {
  border-bottom: 1px solid #383838;

  h5 {
    padding: 15px 0;
  }

  &-social {
    margin-top: 10px;

    i {
      padding: 5px 8px;
      border-radius: 50%;
      background: #383838;
      margin: 0 3px;
      color: #8F8F8F;
      font-size: 20px;
      transition: .5s;
      border: 1px solid #383838;

      &:hover {
        color: $main_color;
        background: none;
        border-color: $main_color;
      }
    }
  }
}

.header-bottom {
  padding: 50px 0;
  position: relative;
  height: 140px;

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: 1;

    img {
      transition: .5s;

      &:hover {
        filter: brightness(60%);
      }
    }
  }

  .hotline-top {
    color: $main_color;

    a {
      transition: .5s;

      &:hover {
        color: white;
      }
    }

    i {
      font-size: 40px;
      float: left;
      margin-right: 10px;
      margin-top: -10px;
    }

    p {
      margin-bottom: 0px;
    }
  }

  .custom-header {
    color: white;
  
    a {
      color: #707070;
      margin-left: 10px;
      border-radius: 3px;
      transition: 500ms;
      display: inline-block;
      cursor: pointer;
      padding: 2px 8px;
      border: 1px solid #707070;

      i {
        font-size: 25px;
      }
  
      &:hover {
        color:black;
        background: $main_color;

        .price-cart {
          color: black;
        }

        .badge-light {
          background: black;
        }
      }
    }

    .cart-open-btn {
      margin-left: 25px;
      position: relative;

      i {
        margin-left: 10px;
      }

      .price-cart {
        font-size: 14px;
        padding-left: 5px;
        margin-left: 5px;
        border-left: 1px solid #383838;
        color: white;
      }

      .badge-light {
        position: absolute;
        margin-left: -15px;
        border-radius: 50%;
        left: 0;
        background: $main_color;
        color: white;
        font-size: 14px;
        width: 30px;
        height: 30px;
        line-height: 23px;
        font-weight: 400;
        top: 5px;
        transition: .5s;
      }
    }
  
    .card-body {
      position: absolute;
      margin-top: 20px;
      right: 0;
      z-index: 1000;
    }
  
    
  
    .cart-form {
      background: #111111;
      border: 1px solid black;
      position: absolute;
      width: 320px;
      right: 15px;
      margin-top: 46px;

      a {
        border: 0;
        padding: 0;
        margin-left: 0;
        color: white;

        &:hover {
          background: none;
          color: $main_color;

          i {
            color: $main_color;
          }
        }
      }
  
      i {
        color: white;
        font-size: 14px;
      }

      &-top {
        p {
          span {
            float: right;
            color: $main_color;
            font-weight: 400;
          }
        }
      }
  
      &-box-product {
        border-bottom: 1px solid #383838;
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: black;
  
        &-img {
          height: 100px;
          float: left;
          margin-right: 10px;
        }
  
        &-detail {
          text-align: left;
  
          h5 {
            transition: .5s;
            margin-bottom: 5px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
  
            &:hover {
              color: $main_color;
            }
          }
  
          h6 {
            margin-bottom: 10px;
            color: white;
            font-weight: 400;
          }
        }
      }
  
      h4 {
        text-align: left;
        margin-top: 10px;
        color: black;
  
        span {
          float: right;
        }
      }
  
      &-btn {
        margin: {
          bottom: 10px;
        }
  
        a {
          background: #555555;
          color: #e1e1e1;
          padding: 10px 15px;
          text-transform: uppercase;
          margin: 3px;
          transition: .5s;
          width: 100%;
          font-weight: 600;
  
          &:hover {
            background: $main_color;
            color: black;
          }
        }
      }
    }
  }  
}

.search-form {
  width: 400px;
  border: 0;
  position: fixed;
  z-index: 1000000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  background: #252525;
  padding: 30px 30px;

  input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    background: #f4f4f4;
    color: black;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    outline: none;
    margin-bottom: 15px;
  }
  
  select {
    height: 50px;
    width: 100%;
    background: #f4f4f4;
    padding: 0 10px;
    margin-bottom: 15px;
  }

  button {
    background: $main_color;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    transition: .5s;
    color: black;
    padding: 15px 30px;

    i {
      padding-right: 15px;
    }

    &:hover {
      background: black;
      color: white;
    }
  }

  h3 {
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900000;
  display: none;
  cursor: url('../img/cursor.png'), auto;
}

.overlay-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
}

.menu {
  position: relative;
  z-index: 999;
  background: #252525;
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
  height: 60px;

  &.menu-down {
    position: fixed;
    width: 100%;
    right: 15px;
    top: 0;
  }

  &::after {
    bottom: -5px;
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
    content: "";
    height: 5px;
    left: 0px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 2050;
  }

  .main-menu {
    position: relative;

    .toggleMenu {
      cursor: pointer;
      display: none;
      color: black;
      margin: 10px 0;
      z-index: 10000;
      transition: 500ms;

      i {
        font-size: 26px;
      }
    }

    .nav {
      display: block;
      text-align: center;

      li {
        padding: 13px 15px;
        transition: .5s;
        display: inline-block;

        i {
          color: white;
          padding-left: 5px;
          font-size: 20px;
          transition: .5s;
        }

        .active {
          color: $main_color;
        }

        a {
          font-weight: bold;
          font-size: 16px;
          text-transform: uppercase;
          transition: .5s;

          &:hover {
            color: $main_color;

          }
        }

        &:hover {
          i, a {
            color: $main_color;
          }

          .menu-bottom {
            opacity: 1;
            visibility: initial;
            transition: .5s;
            color:white;
            transform: translateY(0%) scaleY(1) ;
            height: auto;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }

          h4 a, li a {
            color: black;
          }
        }
        
        .menu-bottom {
          position: absolute;
          left: 15px;
          width: 1110px;
          opacity: 0;
          visibility: hidden;
          transition: .5s;
          margin-top:12px;
          transform: translateY(-50%) scaleY(0) ;
          transition: .5s;
          padding: 30px;
          background: #111111;
          color: #C9C9C9;

          img {
            margin-top: 20px;
          }

          a {
            transition: .5s;

            &:hover {
              color: $main_color;
            }
          }

          h4 {
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #383838;
            transition: .5s;
            text-align: left;

            a {
              color: white;
            }
          }

          ul {
            text-align: left;

            li {
              padding: 0;
              padding-bottom: 15px;
              margin-right: -10px;
              display: inline-block;
              text-align: left;
              width: 50%;
              
              a {
                font-weight: 500;
                font-size: 14px;
                text-transform: none;
                color: #C9C9C9;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
              }

              i {
                font-size: 16px;
                color: #383838;
                padding-right: 10px;
              }

              &:hover {
                i {
                  color: $main_color;
                }
              }
            }
          }
        }
      }
    }
  }
}

.slider {
  position: relative;
  margin-bottom: -10px;

  .owl-theme .owl-dots {
    margin-top: -20px !important;
    z-index: 1;
    position: relative;
    background: none;

    .owl-dot span {
      border: 2px solid white;
      background: none;
      width: 15px;
      height: 15px;
    }

    .owl-dot.active span,
    .owl-dot:hover span {
      background: $main-color;
      border: none;
    }
  }

  .owl-theme .owl-nav {

    button.owl-prev,
    button.owl-next {
      position: absolute;
      top: 40%;
      font-size: 40px;
      transition: .5s;

      &:hover {
        color: $main-color;
        background: none;
      }

      &:focus {
        outline: none;
      }
    }

    button.owl-prev {
      left: 3%;
      transform: rotateY(180deg);
    }

    button.owl-next {
      right: 3%
    }
  }

  .owl-carousel .owl-item img {
    filter: brightness(70%);
  }

  &-text {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 500px;
    z-index: 1;

    h5 {
      color: #c5c5c5;
    }

    h1 {
      font-weight: 500;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: 30px;
      margin-bottom: 10px;
    }

    &-content {
      margin-bottom: 40px;

      h3 {
        font-weight: 600;
        text-transform: uppercase;
        color: $main_color;
      }

      p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    
    &-btn {
      a {
        padding: 10px 30px;
        color: #c5c5c5;
        font-weight: bold;
        text-transform: uppercase;
        transition: .5s;
        margin: 0 10px;
        border: 2px solid #c5c5c5;
        border-radius: 5px;
        position: relative;
        

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
        }
  
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $main_color;
          z-index: -1;
          transition: transform .5s;
          transform-origin: right;
          transform: scaleX(0);
        }
  
        &:hover::after {
          transition: transform .5s;
          transform-origin: left;
          transform: scale(1);
        }

        &:hover {
          color: black;
          border-color: $main_color;
        }
      }      
    }
  }
}

.bread-crumb {
  background: #383838;
  padding: 20px 0;
  color: white;
  margin-bottom: 30px;

  .breadcrumb {
    background: none;
    padding: 0;
    margin-bottom: 0;
    
  
    .breadcrumb-item {
      transition: .5s;
  
      &:hover {
        color: $main_color;
      }
    }
    
    .breadcrumb-item.active {
      color: $main_color;
    }
  }
}

.pagination {

  .page-link {
      background: none;
      border-color: #cccccc;
      color: #383838;
      border-radius: 3px;
      transition: .5s;
      width: 40px;
      height: 40px;
      font-size: 16px;
      text-align: center;
      line-height: 20px;
      font-weight: bold;
      background: white;

      &:hover , &.active {
          background: $main_color;
          color: white;
          border-color: $main_color;
      }
  }
}




.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
  z-index: 1051;
}



.mfp-bg {
  z-index: 1052;
}

.mfp-wrap {
  z-index: 1053;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background: $main_color;
}




.footer {
  background: #252525;
  color: white;
  padding-top: 30px;

  .title-footer {
    margin-bottom: 30px;
    z-index: 10;
    position: relative;
    
    a {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;

      i {
        background: none;
        float: right;
        width: 0;
        height: 0;
        border: 0;
        line-height: 0;
        margin-right: 30px;
        margin-top: 10px;
        font-size: 30px;
        opacity: 0;
      }
    }
  }

  .card-body {
    background: none;
    border: none;
    border-radius: 0;
    color: #cccccc;
    padding: 0;
    margin-bottom: 20px;

    ul li {
      padding-bottom: 20px;
      transition: .5s;
      
      a {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        transition: .5s;

        &:hover {
          color: $main_color;

          span {
            color: $main_color;
          }
        }
      }

      span {
        margin-right: 5px;
        transition: .5s;
        color: #cccccc;
        font-size: 16px;
      }

      &:last-child {
        border: none;
      }   
    }
  }

  .social {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background: #252525;
    z-index: 10;
    top: -30px;

    i {
      padding: 7px 12px;
      background: #383838;
      display: inline-block;
      margin: 2px;
      transition: .5s;
      font-size: 16px;

      &:hover{ 
        background: $main_color;
        color: black;
        transform: translateY(-20%);
      }
    }
  }

  &-top {
    margin-bottom: 50px;
    line-height: 1.8;
    color: #c5c5c5;
    
    img {
      margin-bottom: 20px;
    }
  }

  &-mid {
    position: relative;

    &-in {
      border: 1px solid #383838;
      padding-top: 70px;
      overflow: hidden;
    }

    .info {
      padding-left: 20px;
      padding-right: 20px;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        background: #383838;
        top: -100px;
        left: 0;
        height: 9999px;
      }
    }
  }

  &-bottom {
    padding: 15px 0;
  }
}


.partner {
  padding: 30px;
  background: #383838;
  margin-bottom: 30px;

  .owl-carousel .owl-item img {
    width: auto;
    max-height: 140px;
  }
}

.banner {
  margin-bottom: 30px;
  
  .box-banner {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    &.box-banner-1 {
      .box-banner-content {
        left: 30px;
      }
    }

    &.box-banner-2 {
      .box-banner-content {
        right: 30px;
        text-align: right;
      }
    }

    &:hover {
      img {
        transform: scale(1.2)
      }
    }

    img {
      transition: 1s;
    }

    &-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;

      h1 {
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      h3 {
        margin-bottom: 30px;
      }

      a {
        border: 2px solid white;
        padding: 10px 15px;
        border-radius: 50px;
        text-transform: uppercase;
        transition: .5s;
        font-weight: 500;

        &:hover {
          color: black;
          background: $main_color;
          border-color: $main_color;
        }
      }
    }
  }
}

.product-hot {
  margin-left: 0px!important;
  margin-right: 0px!important;

  .nav-tabs {
    border-bottom: 0;
    margin-bottom: 30px;
    text-align: center;

    li {
      background: none;
      border: 1px solid #383838;
      margin: 0 -2px;
      position: relative;
      display: inline-block;

      &:first-child::before {
        content: '';
        width: 100px;
        height: 1px;
        background: #383838;
        position: absolute;
        left: -100px;
        top: 50%;
      }

      &:last-child::before {
        content: '';
        width: 100px;
        height: 1px;
        background: #383838;
        position: absolute;
        right: -100px;
        top: 50%;
      }

      a {
        transition: .5s;

        &:hover {
          border-radius: 0;
          border-color: $main_color;
          color: $main_color;
        }
      }

      .active {
        background: none;
        border-color: $main_color;
        border-radius: 0;
        color: $main_color;
      }
    }
  }
}

.navbar.navbar-light {
  margin-bottom: 30px;

  i {
    position: absolute;
    right: 30px;
    top: 20px;
  }
}

.navbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
}

.navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
  color: black;
  background: $main_color;
}

.navbar.navbar-light .navbar-toggler {
  background: #383838;
  color: white;
  width: 100%;
  height: 50px;
  text-align: left;
}

.modal {
  cursor: url('../img/cursor.png'), auto;
  z-index: 1050;
}

.modal-content {
  background: #252525;
  cursor: default;

  .modal-header {
    border-color: #383838;

    .close {
      color: white;

      &:hover {
        color: $main-color;
        opacity: 1;
      }
    }
  }

  .modal-footer {
    border-color: #383838;
  }

}

.xzoom-source img, .xzoom-preview img, .xzoom-lens img {
  z-index: 1051;
}

.box-product {
  position: relative;
  margin-bottom: 10px;

  &:hover {
    .box-product-cart {
      opacity: 1;
      transform: none;
      transition-delay: 0.5s;
    }

    .box-product-detail {
      h4, h6 {
        transform: translateY(-50px);
        opacity: 0;
      }
    }
  }

  &-status {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;

    h5 {
      background: $main_color;
      width: 50px;
      height: 22px;
      line-height: 25px;
      text-transform: uppercase;
      color: black;
      text-align: center;
      border-radius: 3px;
      margin-bottom: 5px;
    }
  }

  &-img {
    position: relative;
    overflow: hidden; 
    margin-bottom: 10px;

    &:hover {
      .box-product-img-custom {
        opacity: 1;
        transform: none;
      }
    }

    &-custom {
      position: absolute;
      right: 10px;
      bottom: 5px;
      z-index: 1;
      transform: translateX(50px);
      opacity: 0;
      transition: .5s;

      .custom {
        &-quickview {
          &::before {
            content: 'Xem nhanh';
            position: absolute;
            right: 39px;
            top: -1px;
            background: black;
            color: #cccccc;
            height: 37px;
            line-height: 37px;
            padding: 0 13px;
            width: 150px;
            text-align: center;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
            transform: translateX(-20%);
          }

          &:hover::before {
            opacity: 1;
            visibility: initial;
            transform: translateX(0);
          }
        }

        &-wishlist {
          &::before {
            content: 'Thêm vào yêu thích';
            position: absolute;
            right: 39px;
            top: 39px;
            background: black;
            color: #cccccc;
            height: 37px;
            line-height: 37px;
            padding: 0 13px;
            width: 180px;
            text-align: center;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
            transform: translateX(-20%);
          }

          &:hover::before {
            opacity: 1;
            visibility: initial;
            transform: translateX(0);
          }
        }
      }

      i {
        cursor: pointer;
        font-size: 16px;
        padding: 5px 10px;
        background: #383838;
        color: white;
        display: block;
        margin-bottom: 5px;
        transition: .5s;

        &:hover {
          color: black;
          background: $main_color;
        }
      }
    }
  }

  &-cart {
    position: absolute;
    bottom: 37px;
    width: 100%;
    height: 50px;
    background: #383838;
    line-height: 50px;
    z-index: 1;
    cursor: pointer;
    transform: translateY(-50px);
    opacity: 0;
    font-size: 16px;
    transition: .5s;

    i {
      padding-right: 10px;
    }

    a {
      transition-delay: 0;
      color: black;
      transition: .5s;
      
      &:hover {
        color: $main_color!important;
      }
    }
  }

  &-detail {
    h6 {
      color: #7D7D7D;
      margin-bottom: 5px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      transition: .5s;
    }

    h4 {
      margin-bottom: 10px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      transition: .5s;

      a {
        transition: .5s;

        &:hover {
          color: $main_color;
        }
      }
    }

    h5 {
      color: $main_color;
      font-weight: 600;

      span {
        text-decoration: line-through;
        color: #7D7D7D;
        margin-left: 20px;
        font-weight: 500;
      }
    }
  }
}


.quickview {
  cursor: url('../img/cursor.png'), auto;

  .modal-content {
    cursor: default;

    .modal-body {
      img {
        margin-bottom: -5px;
      }

      h2 {
        font-weight: bold;
        margin-bottom: 15px;
      }

      h5 {
        margin-bottom: 15px;
      }

      h4 {
        color: $main_color;
        font-weight: bold;
        margin-bottom: 15px;
  
        span {
          font-weight: 400;
          color: #585858;
          text-decoration: line-through;
          margin-left: 20px;
        }
      }

      p {
        margin-bottom: 20px;
        color: #656565;
      }

      input {
        width: 40px;
        height: 40px;
        padding-left: 10px;
        margin: 0 10px;
        border: 1px solid #e1e1e1;
        border-radius: 3px;
        margin-bottom: 20px;
        padding-top: 3px;
      }
      
      a {
        cursor: pointer;
        padding: 10px 20px;
        background: $main_color;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        transition: .5s;
        border-radius: 3px;

        &:hover {
          color: black!important;
        }
      }

      .cart-btn {
        border: 2px solid $main_color;

        &:hover {
          background: none;
          border-color: black;
        }
      }

      .xzoom-thumbs {
        a {
          background: none;
        }

        .xactive {
          border: 1px solid $main_color;
        }
      }

      .modal-star {
        color: $main_color;
        font-size: 16px;
        margin-bottom: 20px;
      }

      .modal-tag {
        padding-top: 20px;
        margin-top: 10px;
        border-top: 1px solid #e1e1e1;

        span {
          margin-right: 3px;

          a {
            background: none;
            color: $main_color;
            padding: 0;
            text-transform: none;
            font-weight: 500;
            transition: .5s;

            &:hover {
              color: $main_color;
            }
          }
        }
      }
    }
  }

  .quantity {
    button {
      background: $main_color;
      border: 0;
      padding: 0 14px;
      height: 40px;
      text-transform: uppercase;
      line-height: 40px;
      font-weight: 500;
      cursor: pointer;
      border-radius: 3px;
      transition: .5s;
      border: 1px solid $main_color;

      &:hover {
        color: $main_color;
        background: none;
      }
    }

    .custom-wishlist {
      background: white;
      margin-left: 5px;
      border: 1px solid white;

      &:hover {
        border-color: $main_color;
      }
    }
  }
}

.modal-img {
  position: relative;

  .owl-theme .owl-nav {

    button.owl-prev,
    button.owl-next {
      position: absolute;
      top: 30%!important;
      font-size: 30px!important;
      transition: .5s;
      color: #666;
      border: 0!important;
      width: 0!important;
      height: 0!important;
      
      &:hover {
        color: $main_color!important;
      }

      &:focus {
        outline: none;
      }
    }

    button.owl-prev {
      left: 0;
    }

    button.owl-next {
      right: 0;
    }
  }
}

.swiper-button-next {
  background-image: url('../img/right.png');
  background-size: cover;
}

.swiper-button-prev {
  background-image: url('../img/left.png');
  background-size: cover;
}

.service {
  background: #383838;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 60px;
  overflow: hidden;

  .box-service {
    position: relative;

    &:hover {
      i {
        color: #252525;
        transform: translateX(100%) scale(5);
        z-index: -1;
        opacity: 0.5;
      }

      h4, h5 {
        z-index: 1;
        position: relative;
      }
    }

    i {
      float: left;
      padding-right: 10px;
      font-size: 50px;
      margin-top: -15px;
      transition: 1s;
      z-index: 1;
    }

    h4 {
      text-transform: uppercase;
      font-weight: 600;
      z-index: 1
    }

    h5 {
      color: #C9C9C9;
    }
  }
}







// --------------------------------------------------------------------
@media (max-width: 1440px) {

}

@media (min-width: 1200px) {
  .main-menu .nav {
    transform: none!important;
  }

}

@media (max-width: 1200px) {
  body {
    margin-left: 15px;
  }

  .ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 10;
  }

  .menu {
    position: absolute;
    background: none;
    border: 0;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    .container {
      position: inherit;
    }

    &.menu-down {
      position: absolute;
    }

    .main-menu {
      .toggleMenu {
        display: block;
        margin: 15px 0;
        position: absolute;
        top: 88px;
        right: 240px;
        z-index: 10;
        color: #707070;
        border: 1px solid #707070;
        border-radius: 3px;
        padding: 1px 8px;
      }

      .nav {
        display: block;
        text-align: left;
        background: rgba(0, 0, 0, .93);
        position: absolute;
        width: 300px;
        transform: translate(-300%, 0);
        margin-top: -2px;
        transition: 500ms;
        height: 100vh;
        overflow: scroll;
        overflow-x: hidden;
        opacity: 0;
        z-index: 10000;

        &.ssm-nav-visible {
          opacity: 1;
        }

        li {
          display: block;
          
          &:first-child {
            margin-top: 30px;
          }

          a {
            text-transform: uppercase;
          }

          i {
            padding-left: 150px;
            font-size: 24px;
            margin-top: -8px;
            position: absolute;
            right: 15px;
          }

          &:hover {
            a {
              border-bottom: 0;
            }

            .menu-bottom {
              visibility: hidden;
            }
          }

          .menu-bottom.in,
          .menu-bottom.out {
            position: fixed;
            opacity: 1;
            visibility: initial;
            transform: none;
            width: 300px;
            background: #111111;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 10;
            transition: .5s;
            overflow: scroll;

            &::before {
              content: '\f177';
              font-family: fontAwesome;
              top: -50px;
              right: 0;
              width: 100%;
              height: 40px;
              border-right: 0;
              border-top: 0;
              background: none;
              font-size: 30px;
              line-height: 50px;
              padding-left: 30px;
              color: #cccccc;
            }

            li {
              border: 0;
              padding: 10px 15px;
              width: 100%;

              &:first-child {
                margin-top: 0;
              }

              a {
                text-transform: initial;
                font-weight: 500;
              }

              &:before {
                content: none;
              }

              &:hover {
                background: none;
              }
            }
          }

          .menu-bottom.out {
            transform: translateX(-300%);
            opacity: 0;
          }

          .menu-bottom.in {
            transform: translateX(0);
            opacity: 1;
          }

          .menu-bottom {
            position: absolute;
            opacity: 1;
            visibility: hidden;
            transform: none;
            left: -300px;
            width: 100%;
            height: auto;
            padding: 0 0;
            background: none;
            margin-top: 7px;

            &.menu-bottom-down {
              visibility: inherit;
              position: relative;
              transition: 0.1s;
              left: 0;
            }

            img {
              display: none;
            }

            h4 {
              margin: 0 15px;
              margin-bottom: 5px;
              padding-bottom: 10px;
              margin-top: 20px;

              a {
                display: block;
                text-transform: capitalize;
                font-size: 14px;
                color: white;
                font-weight: 500;
              }

              i {
                position: absolute;
                top: 30px;
                right: 15px;
              }
            }

            
          }

          .active {
            border-bottom: 0;
          }
        }
      }
    }

    &-close {
      transform: scale(0) rotate(-180deg);
      position: absolute;
    }
  }

  .box-product-img-custom {
    opacity: 1;
    transform: none;
  }
}

@media (max-width: 992px) {
  article {
    margin-top: 65px;
  }
  
  .header-bottom {
    padding: 10px 0;
    height: 65px;
    z-index: 10;
    position: fixed;
    width:100%;
    top: 0;
    background: #111111;

    .logo {
      left: 0;
      transform: translate(0, -35%);

      img {
        height: 60px;
        margin-top: 13px;
      }
    }

    .custom-header .cart-form {
      margin-top: 8px;
    }
  }

  .menu {
    right: 0;
    width: auto;
    position: fixed;
    height: auto;

    &.menu-down {
      position: fixed;
      width: auto;
      right: 0;
    }

    .main-menu {
      .toggleMenu {
        top: -4px;
        right: 248px;
      }
    }
  }
}

@media (max-width: 767px) {   


  article {
    padding-top: 30px;
  }


  

  .footer .title-footer a i {
    opacity: 1;
  }
}

@media (max-width: 575px) {


  .search-form {
    width: 96%;

    select {
      top: 63px;
      right: 65px;
    }
  }

  .header-bottom .custom-header {
    a {
      border: 0;
      padding: 2px;

      &:hover {
        background: none;
        color: $main_color;
      }
    }

    .cart-open-btn {
      margin-left: 10px;

      i {
        margin-left: 0;
      }
      
      .price-cart {
        display: none;
      }

      .badge-light {
        right: -5px;
        width: 20px;
        height: 20px;
        line-height: 13px;
        font-size: 12px;
        left: auto;
        top: -5px;
      }
    }
  }

  .menu .main-menu .toggleMenu {
    right: 95px;
    border: 0;
  }

  .header-bottom .logo {
    left: 15px;

  }
}

@media (max-width: 410px) {

}
