extends ./inc

block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item
                a(href='san-pham.html') Đồng hồ
              li.breadcrumb-item
                a(href='san-pham.html') Đồng hồ nam
              li.breadcrumb-item.active Daniel Wellington Black Gold

    section.product-page
      .container
        .row
          .col-lg-9.order-lg-3
            .product-detail
              .product-detail-1
                .row
                  .col-lg-6
                    .product-detail-1-img
                      img.main-image.xzoom(src='../img/product-1.png', xoriginal='../img/product-1.png')
                      .xzoom-thumbs
                        .owl-carousel.xzoom-carousel.owl-theme
                          .item
                            a(href='../img/product-1.png')
                              img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                          .item
                            a(href='../img/product-2.png')
                              img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                          .item
                            a(href='../img/product-1.png')
                              img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                          .item
                            a(href='../img/product-2.png')
                              img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                          .item
                            a(href='../img/product-1.png')
                              img.xzoom-gallery(src='../img/product-1.png', xpreview='../img/product-1.png')
                          .item
                            a(href='../img/product-2.png')
                              img.xzoom-gallery(src='../img/product-2.png', xpreview='../img/product-2.png')
                  .col-lg-6
                    .product-detail-1-detail
                      h2 Logitech G502 Proteus Spectrum
                      p
                        i.fa.fa-star(aria-hidden='true')
                        i.fa.fa-star(aria-hidden='true')
                        i.fa.fa-star(aria-hidden='true')
                        i.fa.fa-star(aria-hidden='true')
                        i.fa.fa-star(aria-hidden='true')
                      h4.price-product
                        | 699.000 đ 
                        span.price-default 700.000 đ
                      h5
                        | This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                      .quantity
                        span Số lượng: 
                        input(type='number', value='1', min='1')
                        button.custom-cart thêm vào giỏ
                        button.custom-wishlist.quantity-wishlist
                          i.mdi.mdi-heart-multiple
              .product-detail-2
                .product-detail-2-title
                  ul.nav.nav-tabs.justify-content-center(role='tablist')
                    li.nav-item
                      a#desc-1-tab.nav-link.active(data-toggle='tab', href='#desc-1', role='tab', aria-controls='desc-1', aria-selected='true')
                        | Chi tiết sản phẩm
                .tab-content
                  #desc-1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='desc-1-tab')
                    p
                      | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                    p
                      | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                    p
                      | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                    p
                      | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea maxime laborum tempora iusto odio magnam optio impedit esse aperiam, reiciendis provident quas veritatis libero blanditiis minus alias illo, temporibus ut.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi delectus dolorem et, minus inventore laborum! Dolore, asperiores. Inventore, iste voluptatem quaerat repellendus illum doloribus deserunt ab totam omnis nostrum perspiciatis.
                  
          .col-lg-3
            .product-page-left
              .product-page-left-title
                h3 Sản phẩm bán chạy
              
              .box-phone
                .box-phone-img
                  a(href='chi-tiet-san-pham.html', title='Nhấp để xem chi tiết')
                    img(src='../img/phone-1.png')
                .box-phone-detail
                  p
                    a(href='chi-tiet-san-pham.html', title='Lenovo Ideacentre 300')
                      | Lenovo Ideacentre 300
                  h5
                    | 69.000.000 đ
                    span.d-block 70.000.000 đ
              - // END BOX PHONE
              .box-phone
                .box-phone-img
                  a(href='chi-tiet-san-pham.html', title='Nhấp để xem chi tiết')
                    img(src='../img/phone-1.png')
                .box-phone-detail
                  p
                    a(href='chi-tiet-san-pham.html', title='Lenovo Ideacentre 300')
                      | Lenovo Ideacentre 300
                  h5
                    | 69.000.000 đ
                    span.d-block 70.000.000 đ
              - // END BOX PHONE
              .box-phone
                .box-phone-img
                  a(href='chi-tiet-san-pham.html', title='Nhấp để xem chi tiết')
                    img(src='../img/phone-1.png')
                .box-phone-detail
                  p
                    a(href='chi-tiet-san-pham.html', title='Lenovo Ideacentre 300')
                      | Lenovo Ideacentre 300
                  h5
                    | 69.000.000 đ
                    span.d-block 70.000.000 đ
              - // END BOX PHONE
              .box-phone
                .box-phone-img
                  a(href='chi-tiet-san-pham.html', title='Nhấp để xem chi tiết')
                    img(src='../img/phone-1.png')
                .box-phone-detail
                  p
                    a(href='chi-tiet-san-pham.html', title='Lenovo Ideacentre 300')
                      | Lenovo Ideacentre 300
                  h5
                    | 69.000.000 đ
                    span.d-block 70.000.000 đ
              - // END BOX PHONE
              .box-phone
                .box-phone-img
                  a(href='chi-tiet-san-pham.html', title='Nhấp để xem chi tiết')
                    img(src='../img/phone-1.png')
                .box-phone-detail
                  p
                    a(href='chi-tiet-san-pham.html', title='Lenovo Ideacentre 300')
                      | Lenovo Ideacentre 300
                  h5
                    | 69.000.000 đ
                    span.d-block 70.000.000 đ
              - // END BOX PHONE
              
        .row
          .col-lg-12
            .similar
              .similar-title.text-center
                h1
                  a sản phẩm liên quan
              .tab-product
                .box-product
                  .box-product-status
                    h5 -17%
                    h5 mới
                  .box-product-img
                    .box-product-img-custom
                      a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                        i.mdi.mdi-eye-plus
                      a.custom-wishlist
                        i.mdi.mdi-heart
                    a(href='chi-tiet-san-pham.html', title='Bấm để xem chi tiết')
                      img(src='../img/product-1.png')
                  .box-product-cart.text-center
                    a.custom-cart
                      i.mdi.mdi-cart-plus
                      | Thêm vào giỏ
                  .box-product-detail.text-center
                    h6(title='Đồng hồ nam, Rolex') Đồng hồ nam, Rolex
                    h4
                      a(href='chi-tiet-san-pham.html', title='Lenovo Ideacentre 300')
                        | Lenovo Ideacentre 300
                    h5
                      | 69.000.000 đ
                      span 70.000.000 đ
                - // End box-product
