extends ./inc

block article
  article
    section.bread-crumb
      .container
        .bc-icons
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='index.html') Trang chủ
              li.breadcrumb-item.active Giới thiệu

    section.page-text
      .container
        h1 
          a Giới thiệu

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus sequi deserunt hic, incidunt eveniet pariatur magnam, eos architecto libero sit cumque quae error quibusdam molestiae in expedita perspiciatis eligendi.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus sequi deserunt hic, incidunt eveniet pariatur magnam, eos architecto libero sit cumque quae error quibusdam molestiae in expedita perspiciatis eligendi.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus sequi deserunt hic, incidunt eveniet pariatur magnam, eos architecto libero sit cumque quae error quibusdam molestiae in expedita perspiciatis eligendi.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus sequi deserunt hic, incidunt eveniet pariatur magnam, eos architecto libero sit cumque quae error quibusdam molestiae in expedita perspiciatis eligendi.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus sequi deserunt hic, incidunt eveniet pariatur magnam, eos architecto libero sit cumque quae error quibusdam molestiae in expedita perspiciatis eligendi.
        img(src='../img/product-1.png')
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus sequi deserunt hic, incidunt eveniet pariatur magnam, eos architecto libero sit cumque quae error quibusdam molestiae in expedita perspiciatis eligendi.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus sequi deserunt hic, incidunt eveniet pariatur magnam, eos architecto libero sit cumque quae error quibusdam molestiae in expedita perspiciatis eligendi.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ducimus sequi deserunt hic, incidunt eveniet pariatur magnam, eos architecto libero sit cumque quae error quibusdam molestiae in expedita perspiciatis eligendi.
